[2014-08-11 09:45] villadora opened #2 "fix travis ci teset"

[2014-09-03 09:09] #2 closed, assigned to nobody

[2014-09-16 11:14] chetan-jadhav opened #4 "Usage example having error"
In Usage section, you mentioned one example to intercept proxy response. It give following error.

[code]

at following lines.

[code]

Can you please fix it? also let me know if I'm doing something wrong here.

[2014-09-17 01:07] #4 closed, assigned to nobody

[2014-09-26 06:40] likesxuqiang opened #7 "when I post json data to proxy, it alway return "Empty reply from server"?"
But when I post same data to the third server, it return ok. how can I do?
1, post to the third server .
curl -X "POST" http://localhost:9000/v2/images  -d '{"image": {}}'
* Hostname was NOT found in DNS cache
*   Trying ::1...
* connect to ::1 port 9000 failed: Connection refused
*   Trying 127.0.0.1...
* Connected to localhost (127.0.0.1) port 9000 (#0)

* upload completely sent off: 13 out of 1

[2014-10-23 00:56] yungookim opened #8 "TLS support?"
Hi,

thanks for the wonderful project. This module is saving me a lot of time.

I was wondering if there is a way to reverse proxy to a https server?

thanks

[2014-10-28 10:12] #8 closed, assigned to nobody

[2014-12-10 14:36] topheman opened #9 "Can't intercept html in response body"
Hello Villadora,

I can't seem to intercept html in a response body - here is the test case : https://github.com/topheman/express-http-proxy/commit/264e451a0dec59b346da2ddcdd7fa0c93feba8eb

Other use case where intercept doesn't work : https://api.github.com/
Even if it's json returning and I can access data in the intercept callback, but there is an encoding problem (though everything is in utf8)

[2014-12-30 14:28] boblauer opened #10 "filter isn't exiting the middleware"
Here's the relevant code:

https://github.com/villadora/express-http-proxy/blob/master/index.js#L43

Shouldn't that `return next()` instead, so nothing else runs?

[2015-01-09 20:43] mlenkeit commented on #9
I had a similar issue where I couldn't access any data from the response in the intercept hook (also when proxying to Github), yet I saw the response in the browser. It turned out to be a caching-related.
I added this to solve the problem.
[code]

[2015-02-10 10:23] #10 closed

[2015-02-10 10:24] villadora commented on #10
you are right!  fixed in 0.3.1. ths!

[2015-02-27 05:49] ashubham opened #11 "Access to reponse headers"
Hello villadora,

How can I get access to the response headers of the response sent by the target server. I need to authenticate the response from the target based on response headers. Can we change the code to something like:

[code]

This will mimic the `request` modules callback signature too, which is `request(requestOpts, function (err, response, body)`

[2015-03-17 22:19] topheman commented on #11
Hello @villadora, hello @ashubham ,

I have the same kind of request : I need to access the response headers sent by the target server to remove some of them before sending the response.

@ashubham I saw your fork, it seems that it should work out, shouldn't it ?

[2015-03-29 00:48] SimplGy opened #13 "Chokes on trailing slash"
I think it might choke in the case where there's a port with a trailing slash specified as `host`.

Eg:

    app.use(proxy('http://fantasticmango:4242/', options));

Throws:

    net.js:901
      throw new RangeError('port should be > 0 and < 65536: ' + port);
            ^
    RangeError: port should be > 0 and < 65536: 0
      at Socket.connect (net.js:901:13)
      at Agent.exports.connect.expo

[2015-04-07 18:34] voor opened #15 "Allow non-standard ports"
Allow passing port in the options.

[2015-04-10 03:35] villadora commented on #13
a PR is welcome, of cause! Or I may made the change when I'm free....

[2015-04-10 04:05] villadora commented on #15
Had merged!

[2015-04-10 04:05] #15 closed

[2015-04-22 03:23] #13 closed

[2015-05-25 15:06] benel commented on #11
@ashubham I saw that your commit (4d74e3253fa7f914c865ed1b24d364a23277463e) has been merged.
Does it make possible to modify the headers that will be sent (aka 'decorate the response headers')?

[2015-05-25 15:37] benel commented on #11
For reference, here is the answer to my question:

[code]
will for example change the case of reponse's `content-type` header into `Content-Type`.

[2015-06-22 12:14] halt-hammerzeit opened #22 "DEPTH_ZERO_SELF_SIGNED_CERT error"
Can be avoided by:

[code]

But maybe there is a better option.
I didn't find the option in your readme.

There is an option called rejectUnauthorized.
https://nodejs.org/api/tls.html

Seems that it's the option to look into:

[code]

You'll have to make an opiton for this one

[2015-06-29 05:20] seeden opened #24 "Connection timeout"
Can you add options for connection timeout?
request.socket.setTimeout(60000); // 60 sec

I can see a lot of errors:
Error: connect ETIMEDOUT
   at exports._errnoException (util.js:746:11)
   at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1010:19)

Thanks

[2015-07-05 00:29] jbender commented on #11
@benel Does the above work as expected for you? I'm trying to set CORS headers, using something similar:

    intercept: function(rsp, data, req, res, callback) {
      res.set('Access-Control-Allow-Origin', 'localhost');
      callback(null, data.toString('utf8'));
    }

However, when the request actually comes back the headers are lower case (and it obviously doesn't work)

    Accept-Ranges: n

[2015-07-05 07:50] benel commented on #11
@jbender With every browser?

[2015-07-06 20:21] jbender commented on #11
@benel Chrome, Safari, and Firefox all give this error.

[2015-07-07 11:23] johngeorgewright opened #25 "Intercepting 304 responses"
Hey,

I'm unsure if this is a problem with this package, or I'm just suppose to approach the problem differently.

If the target responds with a 304, the interceptor `data` property is empty.

[code]

[2015-07-07 13:03] johngeorgewright commented on #25
No worries, a simple check if the data is present seems to do the trick.

[code]

[2015-07-07 13:03] #25 closed

[2015-07-09 18:44] kevbook opened #26 "Connection Close Issue"
Maybe I am being ignorant. I am using this module for the first time today. But in all my tests, the "Connection" header is always "close". It should be "alive" as per HTTP 1.1

Am I doing something wrong?

[2015-07-14 16:58] jdiehl opened #27 "Proxy cannot handle large files"
Thanks for the great Express add-on!

When trying to send a large file through the proxy (more than 1 MB), an error event is thrown:

[code]

Could you use streams instead of reading the entire body into a buffer?

[2015-07-23 15:49] Onigam commented on #27
You can specify the limit in the options:

[code]

[2015-07-23 17:07] jdiehl commented on #27
Thanks for the pointer - that will solve it for me for now.

It feels a little wrong though... A proxy should not load the entire request into a buffer and then send that buffer to the target. Instead the proxy should forward the stream as data arrives, making the process faster and less memory intensive. Do you think this would be possible to implement?

[2015-07-23 21:49] alansouzati opened #28 "Support for ws protocol?"
Hi, great job on this proxy module.

I'm trying to add the proxy for websocket protocols but it does not work for you guys. Is there any plans to add that?

[2015-09-09 13:30] omerts opened #29 "Error when using intercept function"
I am getting the following error when intercepting the data, using the intercept function:
[code]

[2015-09-10 09:56] guy-mograbi-at-gigaspaces opened #30 "protocol is not resolved correctly if host is function"
You can easily detect this from the code.
ishttps is resolved in constructor.
however if "host" is function, it should be resolved in `handleProxy` just like the hostname - but its not.

the proxy basically does not allow me to dynamically decide the host and support https at the same time.

major issue, might have to use some other library.

[2015-09-10 09:58] guy-mograbi-at-gigaspaces commented on #30
I suggest to resolve http/https on top of reqOpts.hostname - this should be the single source of truth.

[2015-09-14 12:46] kristofen commented on #28
Hi, Is there something new (since 23 Jul.) about WebSocket support?

[2015-09-19 20:56] guy-mograbi-at-gigaspaces commented on #30
I will have to drop this library very soon if I don't get a response.
This is quite a big issue.

[2015-10-09 05:23] mingzepeng commented on #7
@likesxuqiang  thanks a lot,your reply helps me to solve my problem

[2015-10-14 20:14] JuoCode opened #32 "`getRawBody` 's callback function not be invoked"
After the breakpoint debugging i found this issue, I'm not sure this is caused by `raw-body` or `express-http-proxy`, because i don't understand [this line](https://github.com/stream-utils/raw-body/blob/1.1.6/index.js#L79)(source code of `raw-body`)

[2015-10-19 10:08] jdiehl opened #33 "On Windows url paths are converted to `\`"

[2015-10-19 10:10] jdiehl commented on #33
nevermi

[2015-10-19 10:10] #33 closed

[2015-10-19 10:28] #27 closed

[2015-10-21 19:46] patrickhousley opened #35 "Node 4 Support"
I am getting the below error when proxying to an HTTPS address and only when using Node 4:

[code]

If I switch back to node 0.12, everything works fine. This may very well be an issue on my end but it is strange this only happens when I change to Node 4. Any ideas?

[2015-11-09 20:49] patrickhousley commented on #35
Found issue was due to Node 4 dropping support for RC4 ciphers out of the box. We had to enabled RC4 cipher support to get this working again.

[2015-11-09 20:49] #35 closed

[2015-11-12 21:17] jpierson opened #37 "Does decorateRequest support promises?"
I would like to add some parameters to my proxies requests but these parameters are resolved asynchronously by functions that return promises. Is there any support for setting things like decorateRequest but in a way that will be resolved asynchronously?

[2015-11-12 22:53] jpierson commented on #37
Ok so I'm new to node and express so I didn't realize that this was already supported. See an example below which mimics what I have found to work in this type of situation.

[code]

[2015-11-12 22:53] #37 closed

[2015-11-15 11:29] jpierson opened #38 "Posting to a different host with a specific port"
I'm attempting proxy a post to a different host with a specific port number but I'm getting the following error.

net.js:927
      throw new RangeError('port should be >= 0 and < 65536: ' + port);
      ^

RangeError: port should be >= 0 and < 65536: 3002path1/path2
    at lookupAndConnect (net.js:927:13)
    at Socket.connect (net.js:904:5)
    at Agent.exports.connect.exports.createConnection (n

[2015-11-18 19:10] ebaumqb commented on #9
@villadora I am facing an issue accessing the data when the server returns a 304. How would I handle the intercept if the server returned 304. I don't want to disable the cache.

[code]

[2015-11-19 21:11] mfowlewebs commented on #38
Just another library user here- [this use case works fine for me](https://github.com/mfowlewebs/http-proxy/blob/master/server.js#L33). Linked trivial example is a proxy to `localhost:8081`, and works fine. If you believe you still have an issue, you should create a reproducible test case for this ticket.

[2015-11-19 21:17] mfowlewebs commented on #29
Can you provide more information on this error? Or a reproducible test case, ideally?

The two places where express-http-proxy does set headers are both guarded by explicit checks to prevent exactly this kind of error: see [this](https://github.com/villadora/express-http-proxy/blob/master/index.js#L137) and [this](https://github.com/villadora/express-http-proxy/blob/master/index.js#L157).

I'm int

[2015-11-19 21:22] mfowlewebs opened #39 "Intercept fallthrough"
Presently, there are two options if using intercept: return/send the content, or throw an error. The third option that is not available is to continue the middleware chain normally, taking no action.

I dont think I ought to [have to compose Error-middleware](https://github.com/mfowlewebs/http-proxy/blob/master/server.js#L47) to handle failure cases of http-proxy; intercept should let me simply ca

[2015-12-02 00:10] bryanfriedman commented on #32
Having the same problem here - requests hang on POST/PUT/PATCH when there is a request body. Any chance this will be fixed?

[2015-12-11 02:43] yyscamper commented on #22
@halt-hammerzeit:
I encountered same issue, I fixed it by adding the rejectUnauthorized option in decorateRequest:

app.use('/proxy', proxy('www.google.com', {
  forwardPath: function(req, res) {
    return require('url').parse(req.url).path;
  },
  decorateRequest: function(req) {
       * req.rejectUnauthorized=false; *
       return req;
  }
}));

[2015-12-11 02:45] halt-hammerzeit commented on #22
Also recently I found out about Node.js TLS module `ca` option which takes your self-generated root CA and then this error goes away.

[2015-12-11 02:45] #22 closed

[2015-12-21 22:42] brianpchsu commented on #7
I faced the same issue earlier and this definitely help. However, I couldn't understand why we need to put proxy before the bodyParser? I thought it should be reverse?!!!

[2016-01-04 21:40] creactiviti commented on #29
I get the same error. I assume Handlebars is interfering with the response.

[code]

[2016-01-04 22:58] creactiviti commented on #29
To answer my own question, this seems to work:

[code]

[2016-01-07 16:27] StevePo opened #41 "Timeout when using docker container"
Hi,

I don't know what it is but the requests i am processing are not getting forwarded to another docker container. The request is always stopping due to a timeout.

[code]

`secondhost` is written in the /etc/hosts file by docker-compose.

When I attach to the container `docker exec -i -t first_container bash` I can ping the second host and make http requests with curl.

What is wrong here?

[2016-01-07 16:59] #41 closed

[2016-01-07 19:03] muymoo commented on #32
@bryanfriedman Take a look at the referenced pull request #36.

[2016-01-08 07:45] jasonadt commented on #7
+1 for @likesxuqiang 's answer, it fixed my issue as well.

[2016-01-22 16:33] jpierson opened #43 "Support for decorateResponse?"
I need to tack on a property to a json response within the proxy before it hits the client. I'm currently using  forwardPath and decorateRequest but I'm not sure how is expected to be done. Is this something that I should be using intercept with?

Thanks for the library, it has been serving me great since I got it set up!

[2016-01-25 19:55] jpierson commented on #43
Ok, after reading through the examples and other peoples usage I see now that the _intercept_ function is used to achieve essentially what I'm looking for. In his case the **rsp** parameter represents the original response and data is the response data from the proxy target.

I'll add that in my case the term intercept being ambiguous is what took me a bit longer in figuring this out. Something li

[2016-01-25 19:55] #43 closed

[2016-02-05 20:40] uniqname commented on #38
I ran into a similar problem. This error occurs when attempting to include a path on the end of the proxy host. It isn't immediately clear that the first argument to `proxy` is the target host and that any path a request needs to be forwarded to _must_ only be in the `forwardPath` option.

[2016-02-12 15:20] dalelotts opened #44 "Test for https fails if proxy is a function"
While not in the documentation, the code allows the 'proxy' to be a function or a string - in our case the code is much cleaner (since we don't know the final proxy protocol or url until the request comes in.

However, the check for https does not work properly because the test does not call the function.

Line 19: ``` var ishttps = /^https/.test(host);```

Delaying the https determination until a

[2016-02-18 03:00] patrickhousley opened #46 "Node 5.6"
I am not able to get an HTTPS proxy to work since updating to Node 5.6. Any chance I could get some help with this?

[2016-02-18 04:09] patrickhousley commented on #46
Finally determined this issue was with browser-sync. Closing for now.

[2016-02-18 04:09] #46 closed

[2016-03-03 17:09] rorydonohue opened #49 "decorateRequest options"
Hi,

Thanks for the great module!

I'm trying to use decorateRequest to add an X-Forwarded-For header, so the back-end service has some idea of the original endpoint. It looks like the IP address of the request (req.ip) isn't available as an option in reqOpt:

      var reqOpt = {
        hostname: (typeof host == 'function') ? host(req) : host.toString(),
        port: port,
        headers: hds,

[2016-03-16 14:54] virus2016 opened #50 "Getting the proxied HTML/JS as string"
Looking to see the proxied html/js as strings. Not too sure how to go about this. Can you please advise?

[2016-03-16 14:58] #50 closed

[2016-03-16 14:58] virus2016 commented on #50
WOW, just had to decorate the request with accept-encoding = utf8.

[2016-03-22 00:38] homerjam commented on #49
+1

[2016-04-11 13:29] bitdivine commented on #7
Hello, I too would be interested to know the answer to @brianpchsu 's question.  Many thanks.

[2016-04-11 14:00] bitdivine commented on #49
Looking at the examples this _should_ work for you, I think:

    decorateRequest: function(req) {
       req.headers['X-Forwarded-For'] = 'one pink penguin';
       return req;
    }

(adapted from one of the examples in https://github.com/villadora/express-http-proxy )

[2016-04-11 14:04] bitdivine commented on #7
Alas I don't have the option of putting this proxy before body-parser.  I might have to roll my own.

[2016-05-03 08:24] reecefenwick opened #52 "Override redirect location set by proxied host"
I'm currently using this library to intercept and inject some headers for my angular app, the proxy server is listening on port 3000 and forwarding to the host on port 8080

There are some scenarios where the proxied host responds with a redirect to a URL like:
- http://localhost:8080/#/thing/thingIdentifier

Note that the port is not quite what I need - I need it to be 3000.

As far I can tell, f

[2016-05-17 14:53] oliverwoodings commented on #7
@brianpchsu @bitdivine the reason you need the proxy before `body-parser` is because the body of the request is a readable stream. The stream is a one-time thing - once it is read, it is then 'empty'. If you have `body-parser` before the proxy, this is what happens:

1. Request comes in
1. `body-parser` reads all the content out of the raw body stream and puts it on `req.body`
1. `express-http-pro

[2016-06-08 16:00] dpsthree commented on #49
I have a similar problem. I need access to the session to supply headers on who is requesting information.

[2016-06-10 17:59] mattnworb opened #55 "port passed in proxy(host) string is ignored"
A custom port value passed to `proxy()` like `proxy('http://localhost:5678')` is completely ignored, even though some layers of the code seem to expect or support this.

[`parseHost`](https://github.com/villadora/express-http-proxy/blob/32849aadefd29ff7bf3992bc5d45ad42c13d8afe/index.js#L228) has logic for returning an object containing a port inside the host string.

However, the exported `proxy()

[2016-06-14 09:44] krimple commented on #55
I got burned by this - in 0.6.0 it worked fine, but now it's stripping the port.  Found out by running an old sample with the old version baked in.

[2016-06-14 10:16] luxueyan opened #56 "how can i proxy https"
Can it support https proxy?

[2016-06-16 02:06] dhwang commented on #55
Fix this please

[2016-06-16 03:29] #55 closed

[2016-06-16 03:30] villadora commented on #55
Thank you for pointing out, fixed in 0.7.1.

[2016-06-16 06:28] gstroup commented on #56
Yes, you can use the 'https-proxy-agent' package.  Something like this:

    var corporateProxyServer = process.env.HTTP_PROXY || process.env.http_proxy || process.env.HTTPS_PROXY || process.env.https_proxy;
    if (corporateProxyServer) {
		corporateProxyAgent = new HttpsProxyAgent(corporateProxyServer);
    }

Then inside the `decorateRequest` method, add the agent to the request:

    req.agent

[2016-06-16 06:31] gstroup commented on #44
For now, you can set the 'https' option to true

    app.use('/somepath', expressProxy(getUrlFromSession, {
		https: true,
		forwardPath: function (req) {
			  var forwardPath = url.parse(req.url).path;
			  return forwardPath;
		}
	  }
    ));

[2016-06-16 06:49] gstroup commented on #55
Thanks for fixing!

[2016-06-16 14:13] mattnworb commented on #55
thanks @villadora

[2016-06-16 19:07] monkpow commented on #38
@uniqname I've tweaked the docs slightly to address hoping to clear up this confusion.

[2016-06-17 00:15] pgraham commented on #32
The referenced pull request will stop the hand but in some cases will not properly pass along the body. If the body has been parsed as JSON it will be an object and so will not have a length property, meaning the content-length header won't be sent and the body itself will not get sent.

A simple fix is to `JSON.stringify(bodyContent)` if it's an object, but I don't think it's right to always assu

[2016-06-17 20:13] monkpow commented on #49
The req object is now passed to the decorateRequest method as the second argument.  I've updated the docs in the above pull request.

[2016-06-17 20:14] monkpow commented on #49
I believe this issue is now closed.   Please let me know any issues.

[2016-06-17 20:14] #49 closed

[2016-06-23 20:02] monkpow commented on #56
I'm going to close this issue.     I've added this Question and Answer to the docs here 96d557372169eaef88e79e4a3f1de29747518b6e

[2016-06-23 21:30] monkpow commented on #52
This capability currently exists, using the intercept feature.   I am adding a test to demonstrate how it could be used.

This could also be solved in some app setups simply by using a relative path (```/#/thingIdentifier```) rather than a fully qualified URL (```http://localhost:8080/#/thing/thingIdentifier```).

IOW, if you're on 'www.server.com:3000' and get a redirect of ```/#/thingidentifier`

[2016-06-23 21:32] monkpow commented on #52
See commit ```043ee94e11e19a32c486209a3dc6e492ab209f2a```

[2016-06-23 21:32] monkpow commented on #52
Closing issue as answered question.

[2016-06-23 21:32] #52 closed

[2016-06-23 22:03] monkpow commented on #44
@dalelotts It turns out that this specific line of code has been obviated since your question came up.   Can you let me know if you are still having any issues?

[2016-06-23 22:54] monkpow commented on #30
@guy-mograbi-at-gigaspaces This looks like it has been resolved for a time.   I added a test here (```0cc6a38```) to replicate the case as I understand it.

Closing this ticket for now, lmk if you are still experiencing issues.

[2016-06-23 22:54] #30 closed

[2016-06-23 23:02] monkpow commented on #28
No immediate plans, but interesting idea.

[2016-06-23 23:04] monkpow commented on #44
@dalelotts See test here 0cc6a3813d5236a22eb819cd24575270465de239.    I believe that the issue you mention is resolved, but please let me know if you continue to have issues.

Closing as resolved.

[2016-06-23 23:04] #44 closed

[2016-06-23 23:06] monkpow commented on #38
I'm closing these as questions, addressed by documentation.  Let me know any questions.

[2016-06-23 23:06] #38 closed

[2016-06-23 23:08] monkpow commented on #24
seems fairly easy and useful.   I'll look into this.

[2016-06-27 13:24] seeden commented on #24
any update ?

[2016-06-29 15:06] monkpow commented on #24
Hi @seeden.    In progress.  I expect to complete this week.

[2016-06-30 08:04] mvdenk opened #80 "Evaluate host() function"
Hi guys,

I'm having the following situation over here: based on the incoming request I want to decide to proxy to host x or y. So ideally I want to evaluate the host(req) function every time there is request to my proxy instead of evaluating only the first time.

I've looked into the source code and see multiple solutions. One of them is removing [this](https://github.com/mvdenk/express-http-prox

[2016-06-30 16:14] monkpow commented on #80
Thanks for your comment.   This sounds like a reasonable feature.

My preferred approach would be to have an option like 'memoizeProxyHost: false' (or similar) so that by default, we  'evaluate once', but allow 'evaluate each time'.

I'd accept a patch with tests for this feature if you're inclined.     Otherwise, I'll be happy to pick up when I get to it.

[2016-07-01 02:54] TobiasNickel opened #81 "querystring.stringify for post data"
I needed to add some code to forward postdata properly.
after getRawBody the bodyContent is an object.
maybe because I used the bodyParser middlewhare?
[code]

my solution was changing line 87 to:
[code]

but maybe this will only work with body parser.
if it can be a tring before we can do
[code]

[2016-07-01 04:24] TobiasNickel commented on #80
isn't it already possible?
you could make many proxies:
[code]

using such a structure, you are ready to build a micro-service architecture.

[2016-07-01 17:32] monkpow commented on #24
Ha, took me a few pushes to get the commit correct, but its on the main line now.   HTH

[2016-07-01 17:32] #24 closed

[2016-07-01 17:33] monkpow commented on #24
https://github.com/villadora/express-http-proxy#timeout

[2016-07-01 17:46] monkpow commented on #80
@mvdenk How does @TobiasNickel's solution work for your case?   For the case example he's shown above, the approach feels all right to me.

If this approach doesn't work/doesn't appeal to you,  would you give a bit more detail about the specific case you are looking to solve?

Thanks

[2016-07-01 18:19] monkpow commented on #11
Closing this ticket.  It appears the first half has been resolved.

@jbender  and @benel, http specification says headers are case-insensitive;  I'm not going to try to fix this, but if you'd like to have a discussion about better support for the CORS use case, I'm open to that.

Regards.

[2016-07-01 18:19] #11 closed

[2016-07-04 17:25] pt-br opened #91 "How to handle 301 redirects?"
Hi @villadora,

I'm having some troubles when trying to proxy a host containing a 301 redirect.

Basically, I'm redirect(as usual) to target's domain, leaving my localhost proxy environment.

You can use as example: http://globo.com

Thank you in advance.

[2016-07-04 19:46] pt-br commented on #91
Hi guys, I just solved my own issue.

If you need to follow redirects, just replace the http module for this https://www.npmjs.com/package/follow-redirects

The usage is simple, just put `var http = require('follow-redirects').http;` into index.js and the proxy will follow redirects as well

[2016-07-04 19:53] pt-br commented on #91
I'm reopening this bc I think it's a information that should be on the read.me, just not sure about it.

[2016-07-05 12:51] monkpow commented on #81
@TobiasNickel This is a fairly common request, but the work we've done to date has not resolved it.   Can you help by posting a gist of the simplest possible failure case?    I will pick this up this week if you can provide the test case.

Thanks!

[2016-07-05 16:58] monkpow opened #97 "Test suite should reduce dependence on http-bin, as it causes frequent travis timeouts."

[2016-07-06 02:49] pt-br commented on #56
Is there any example of usage with express? @gstroup @monkpow

I didn't get it :/

[2016-07-06 12:30] marcelpanse commented on #91
Why does this doesn't work on for example https://google.com/ it still redirects my browser to https://google.nl. Is there a way to fix this?

Some context: I'm trying to create a page where people can insert their URL and I'll proxy the content and add some javascript to it on the reponse. For example: http://myservice.com?url=google.com
should show the google page with my javascript added.

[2016-07-07 16:27] monkpow commented on #91
When the proxied request is returned to express-http-proxy, you have the opportunity to inspect and modify it.    This feature is called 'intercept', and you can see some syntax info in the README file, and also in the test cases for intercept.

There's no way that I'm aware of to get google to stop sending you a redirect instruction.

[2016-07-07 16:27] #91 closed

[2016-07-08 00:31] jrullmann opened #104 "Exceptions parsing proxied response causes error: Can't set headers after they are sent"
If an exception occurs while parsing the proxied response, a 'Can't set headers after they are sent' error is thrown. This also causes my node server to exit.

The stack trace looks like this:
[code]

If I modify [https://github.com/villadora/express-http-proxy/blob/master/index.js#L120](this) code to check if the headers have been set:

[code]

then I can see that an error occured parsing the pro

[2016-07-08 05:17] gstroup commented on #56
[code]

[2016-07-08 09:08] luxueyan commented on #56
I didn't describe clearly. Our development-env use http, and our prodction-env use https. I need proxy dev apis as '/api/xxxx' to the production https server

[2016-07-08 20:14] dhwang opened #105 "nsp complains about jscs dependency security vulnerabilities"
My project is using nsp and getting this complaint. Is jscs needed other than devDependencies?

[11:37:10] (+) 1 vulnerabilities found
│
│ Regular Expression Denial of Service                                                                                                                                   │ Name          │ minimatch

[2016-07-08 23:07] monkpow commented on #105
Thanks.    3d8560c

[2016-07-08 23:08] monkpow commented on #105
published 0.7.4 with this issue corrected.  Thanks for bringing it up.

[2016-07-08 23:08] #105 closed

[2016-07-11 13:37] monkpow commented on #104
Thanks for a detailed issue report.  I'll look into this this week.

[2016-07-21 22:48] monkpow commented on #104
Thanks @jrullmann!

[2016-07-21 22:48] #104 closed

[2016-07-21 23:03] monkpow commented on #80
Closing issue as solved (by @TobiasNickel comment).   Feel free to re-open if you'd like to continue the discussion.

[2016-07-21 23:03] #80 closed

[2016-07-22 00:15] aminmeyghani opened #112 "question: proxying a multipart request changes file byte array data"
Hi, I am trying to proxy a multipart file request to my Java Spring server but for some reason the file bytes that Spring receives is not the same as the file that was uploaded. For example, a file whose byte array length is 3000 is transformed to about 6000. Any ideas why that's happening ?

This is the snippet that does proxies the request:

[code]

[2016-07-22 15:38] monkpow commented on #81
@TobiasNickel Are interested it testing this to see if it fixes your use case?

[2016-07-22 15:47] #81 closed

[2016-07-22 15:48] monkpow commented on #32
@pgraham @muymoo @bryanfriedman I believe this is resolved on master now.   I'll let it bake for a few days before publishing to npm.    Feel free to re-open if you want to continue the discussion.

[2016-07-22 15:48] #32 closed

[2016-07-22 15:50] monkpow commented on #112
Try setting reqBodyEncoding to ```null```.   It may be that your request body is being re-encoded as utf-8 (the default encoding for requests in this library.

If this is not the issue, please let me know as many details as possible and I can dig in further.

Thanks

[2016-07-22 16:22] aminmeyghani commented on #112
Yup, that fixed it. Thanks!

[2016-07-22 21:17] #112 closed

[2016-07-22 21:18] monkpow commented on #112
@aminmeyghani no problem.

[2016-07-29 12:15] tosho-ait opened #114 "POST with json in the body does not work."
When trying to proxy POST requests with json data in the body the server receives an empty body.

I managed to work around it with:
`
app.use('/api..., proxy(be, {
    decorateRequest: function(reqOpt, req) {
        reqOpt.bodyContent = JSON.stringify(reqOpt.bodyContent)
        return reqOpt;
    }
}));
`
It seems that bodyContent is an object instead of a string ...

[2016-07-29 16:48] monkpow commented on #114
@tosho-ait I think this issue is resolved by the latest commit to master (b8e2c60064effcfa7551191042ee619ccdcc5837) , but I am looking for outside verification before i publish this version to npm.   Do you mind trying the master branch and letting me know if it closes your issue?

If it does not, would you please give me a little more information about your use case?

Thanks!

[2016-08-01 13:38] monkpow commented on #114
Published "Better handling for request body when body is JSON."  Feel free to reopen if you'd like to continue the discussion.

[2016-08-04 14:42] #114 closed

[2016-08-04 14:46] monkpow commented on #29
I believe this issue was in each of your local cases.  Closing now, but feel free to reopen if you'd like to continue the conversation.

[2016-08-04 14:46] #29 closed

[2016-08-04 15:56] sagarmah opened #118 "decorateRequest example gives errors"
I am trying to run the following example from the docs and would like to modify it to reach to one of my Web applications. But this gives me errors like wrap not defined and if I remove wrap, it says
TypeError: Cannot read property 'length' of undefined. I know I am missing something, I am new to Nodejs and Express but any help will be great.
[code]
Also my use case is to reach to 'https://localho

[2016-08-04 16:00] monkpow commented on #118
You are on the right track.    The example is probably poorly written;  ```wrap``` in this case is an example function, and doesn't exist as part of this library.   I think the intention was just to show that you could operate on the bodyContent.    I'll update the example for future readers.

in your case, I think you should be good with

[code]
  decorateRequest: function(reqOpt, req) {
    reqO

[2016-08-04 16:02] sagarmah commented on #118
thanks for the quick reply, this will work with https://localhost.. too right? or do I need to add something else?

[2016-08-04 16:09] monkpow commented on #118
The library uses https for the proxy request when the path is https, so in many cases it will work out of the box.   If your https presents challenges (requires auth headers for instance), you'll need to address this in decorateRequest.

[2016-08-04 16:10] #9 closed

[2016-08-04 16:12] monkpow commented on #7
This feels resolved by previous authors to me.  Feel free to reopen if you'd like to continue the conversation.

[2016-08-04 16:12] #7 closed

[2016-08-04 16:16] sagarmah commented on #118
Thanks. I am closing the issue with this one. Its been a great help.

[2016-08-04 16:16] #118 closed

[2016-08-04 17:06] monkpow commented on #39
@mfowlewebs In the example you've provided, the issue is that you are clobbering the ```next``` middleware argument with a local argument, here:

[code]
The argument in this position is for the callback to continue processing after intercept, so when you do

[code]

You are actually calling intercept's callback,  replacing the original response data, with "Content Not Found", and providing ```unde

[2016-08-04 17:06] #39 closed

[2016-08-05 14:51] monkpow opened #119 "Add ability to munge response headers (ses pull request #53)"

[2016-08-09 08:40] sunshineo commented on #119
+1

[2016-08-10 14:31] sagarmah commented on #118
Hello I tried your suggestion and it sortof works. When I do the following on a server running at localhost:8000:
`app.use('/grafana', proxy('http://localhost:3000/', {
    decorateRequest: function(reqOpt, req) {
        reqOpt.headers['X-WEBAUTH-USER'] = 'user';
        return reqOpt;
    }
}));`
It returns a HTML page and tries to render it, but the browser is unable to find a lot of resources.

[2016-08-24 15:43] domasx2 opened #124 "odd behaviour on ECONNRESET"
Hi,

If request fails with ECONNRESET, it writes to response but also proceeds to next route by calling next().
This usually results with next route trying to send another esponse and producing a "headers already sent" error.
Why is this so? I think it would make more sense to not call next() after response has already been sent

see
https://github.com/villadora/express-http-proxy/blob/master/inde

[2016-08-25 17:19] sagarmah opened #125 "rewrite path before sending the request"
I have a nodejs app running at localhost:4000 From here I want to proxy to localhost:15672 and authorize the user directly to his homepage. so localhost:4000/manage should show the response from localhost:15672/#/login/user/password

A simple app.get does work, but the URL contains credentials in pathname and so want to find an internal way to use it somehow. I am using express-http-proxy library

[2016-08-25 20:12] #26 closed

[2016-08-29 14:14] monkpow commented on #125
I think for this case, you will use ```forwardPath``` option, which allows you to modify the path to the proxy server.   Check that out in the documentation, and let me know if you have additional questions.

[2016-08-29 14:14] #125 closed

[2016-08-29 14:17] monkpow commented on #119
This is currently possible using intercept, but would prefer to extract an explicit interface for munging headers.

[2016-08-29 14:18] monkpow commented on #124
Yep, agree.  This is errant behavior.  I'll pick this up shortly.

[2016-08-30 07:50] oyvindeh opened #126 "Failed to convert header keys to lower case due to field name conflict: accept-encoding"
I get this error when I use express-http-proxy >= 0.9.1:

[code]

I see the release notes for 0.9.1 says "Set 'Accept-Encoding' header to match bodyEncoding". Perhaps something goes wrong in relation to this?

[2016-08-30 09:08] mahyarmobilab opened #127 "proxy multipart request"
Hi there,
I have used your lib to create a proxy server. I use `body-parser` and `multer` middleware for parsing request bodies.
 everything is going fine except for the multipart requests. is there anyway to proxy these requests?

[2016-08-30 20:02] adanba opened #128 "Dynamic host"
Hi,

I can't  make my host dynamic, i use this code snippet:

[code]

The host is in the session params.

With this code, it try to download the page until the timeout appears, it seems to be a blocking some where but i have any idea how to solve it.

Please can someone help there ?

[2016-08-30 21:20] monkpow commented on #128
I think you want
[code]

[2016-08-30 21:48] monkpow commented on #128
I added a test to show this a16ff7242006c07ad43f55d8958c71d0109f9a4b.   Hope this helps.

[2016-08-30 21:48] #128 closed

[2016-08-30 21:50] monkpow commented on #126
Sounds like it.  Can you give me a code snippet that triggers this issue, and I'll fix the bug.  Thanks!

[2016-08-30 21:50] #124 closed

[2016-08-30 21:52] monkpow commented on #127
Multipart requests are not explicitly supported right now, although I'd like to get this in soon.   If you happen to have a sharable code snippet I could use for a test, I'd be happy to have it.

[2016-08-31 07:59] mahyarmobilab commented on #127
Actually I figured it out. Here is what I did:
- Main problem sovled when I ignored `body-parser`(json, urlencoded) for multipart requests. Before this igonring `bodyContent` of `proxyReq` was empty. I did it like bellow:
[code]
- I removed using of multer because it's was useless in my case
- I added bellow code to dynamically change options for multipart requests:
[code]

[2016-09-04 05:22] btmurrell commented on #126
@monkpow , @oyvindeh  I'm hitting this issue too.  I cannot tell you how to reproduce it -- express (or possibly helmet which I'm using) is loading up my req.headers by some default behavior... however, i do see where the problem in express-http-proxy is happening.

This may be a suitable fix for express-http-proxy index.js line ~86:
[code]

[2016-09-07 14:12] monkpow commented on #126
@oyvindeh @btmurrell I'm tentative about fixing without being able to see the problem in action.    If your hunch is right, you should be able to skip this chunk of code by adding
[code]
to your options.

[2016-09-08 07:40] oyvindeh commented on #126
I'm sorry, I haven't had time to write a snippet that triggers the issue. Hopefully, I'll be able to do so next week.

[2016-09-16 06:47] oyvindeh commented on #126
I have problems reproducing this outside of the environment where I get the error (and I cannot share the full code). But I can confirm that 'reqBodyEncoding: null' does indeed work around the issue.

[2016-09-17 15:34] oraneedwards opened #130 "Making the proxy dynamic?"
Probably not the right place for this, but how do I make this dynamic?

For example:

    app.use('/proxy/*', proxy('<url from database>')); // * fetches URL from DB or Redis

Or maybe even something that resembles this:

    //Make new proxy?

    app.get('/make', function (req, res) {

        subdomain = 'sub1'; //From DB
        originalSite = 'www.example.com';

        app.use(vhost(subdomai

[2016-09-22 15:24] roger-panella opened #131 "Possible to add query parameters to proxy request?"
Is it possible to add a string of query parameters to the end of the path of the proxy request before sending?

I've tried adding ProxyReq.query in decorateRequest and formatting the parameters as a JSON object and also tried as a string, but doesn't look like decorateRequest handles query parameters that way.

Just wanted to see if there was a way to do it.  Thanks!

Edit:  I ended up working it

[2016-09-26 17:22] monkpow commented on #131
You could use ```forwardPath``` to modify the path as well, fwiw.

[2016-09-26 17:22] #131 closed

[2016-09-27 08:57] adanba commented on #128
@monkpow Thank you very much

[2016-09-28 07:00] vtuwei commented on #56
Also interested to know how to proxy from a http server to a https server. @gstroup i wasn't able to make it work using your example.

[2016-09-28 07:09] vtuwei commented on #56
@luxueyan did you find a solution?

[2016-09-28 16:43] monkpow commented on #56
@luxueyan I've added an option that will allow you to force https on the proxy request.  Hope this helps.

[2016-09-28 16:43] #56 closed

[2016-09-28 22:53] oxmane commented on #128
@monkpow this actually doesn't allow for a different host for each request, if I'm not mistaken.

Due to this line https://github.com/villadora/express-http-proxy/blob/master/index.js#L38 if I understand correctly the `parsedHost` variable will be initialized on the first request and then won't change even if `parseHost` would return a different host for subsequent requests.

[2016-09-28 23:48] oxmane commented on #128
@monkpow I've actually open a pull request with a test which demonstrates the issue and a fix which should solve it.
https://github.com/villadora/express-http-proxy/pull/134

[2016-09-29 03:21] luxueyan commented on #56
@monkpow  Thanks very much! I will try this in free time!

[2016-10-20 12:06] raddevon opened #138 "Proxy works for GET but POST loses body"
I have configured a proxy that works perfectly for GET requests, but the request JSON body doesn't get through on POST requests.

[code]

I recently added the `reqAsBuffer` and `reqBodyEncoding` options after seeing #114, but that doesn't seem to help. I have tried this with only `reqAsBuffer` set and without either of those two set. I do have body-parser running on this app, but that middleware i

[2016-10-20 20:08] raddevon commented on #138
Found the answer. In setting the entire headers object of the proxy request with nothing but my auth header, the new request didn't have the content type it needed to be handled properly as JSON. I added the `Content-Type` header in `decorateRequest`, and all is good.

Here's what my `decorateRequest looks like now:

[code]

[2016-10-20 20:08] #138 closed

[2016-10-23 12:13] silverprize opened #139 "Redeploying to the npmjs.com, please."
Hi.
Check please 161 line of `express-http-proxy/index.js` after `npm i express-http-proxy`.
The latest code is right?

[2016-10-24 06:15] yannpeng commented on #127
I still have issue with large file request forwarding. I added the limit: '4mb', but it still doesn't work with error "Request Entity Too Large". What is the work around for multipart file uploading? thanks!

[2016-10-26 15:05] monkpow commented on #139
@silverprize I see at line 161:

[code]

I'm not aware of any issues here, and this code has been stable for many releases.

Can you give me any information about the issue you're experiencing?

[2016-10-26 15:17] silverprize commented on #139
@monkpow The result code after installation.
[code]
My environment is nodejs 6.9.1, npm 3.10.8.
This is full source code.
[code]

[2016-10-26 15:37] monkpow commented on #126
@oyvindeh I did find a relevant bug in the code, which is patch here 861b620fc7476bd6d709630daa1e7872ea7eb6e0.  This fix is in the most recent version (0.10.1) published to npm.

Let me know if you continue to have issues.  Thanks for the report and clarifications so far.

[2016-10-26 15:37] #126 closed

[2016-10-26 15:43] monkpow commented on #139
@silverprize
Please look to version 0.10.1.    The fix for this issue has been on master for a couple of weeks, but I just published all of the recent updates this morning.

[2016-10-26 21:41] houzi-lim opened #141 "Chunked Response"
Hi,

I am a beginner that have couple questions regarding this http proxy.
Say I use this as a proxy to a server that return large data in chunks.
1. Is it true that the proxy will always collect all the chunks before sending the full response back as a whole to the client regardless the optional intercept?
2. If so, doesn't that mean the responsiveness might not be good for the client?

Thanks in

[2016-10-27 02:15] silverprize commented on #139
@monkpow Thank you for confirming it.
The express-http-proxy@0.10.1 is now installed.

[2016-10-27 02:15] #139 closed

[2016-11-02 15:26] monkpow commented on #141
@houzi-lim Yeah, this is the current behavior of the library, and yes, this means it might not be efficient for large responses.

There is currently a feature (intercept) that allows you to operate on the proxied response before sending it on that I believe drove that decision.

[2016-11-02 15:27] monkpow commented on #127
@yannpeng can you add a failing test with a large file?  I'd be happy to try to work this out.

[2016-11-03 06:11] aguegu commented on #138
I stuck in the same problem. And it is weird.

[code]

does not work

[2016-11-03 21:25] houzi-lim commented on #141
@monkpow, thanks for the confirmation.

[2016-11-03 21:25] #141 closed

[2016-11-17 14:37] rdkgit opened #152 "Will express-http-proxy pass session cookies through to clients?"
Hi!

I'm using express-http-proxy for a proxy server I'm writing.  I'm testing access to a webapp through this proxy.  The web app sets session cookies.  When I examine the client, it is not receiving the cookie when it queries through the proxy.  When the client queries directly, it gets the cookie.  Sorry if this is a duplicate question.

Thanks,

Bobby

[2016-11-17 16:45] rdkgit commented on #152
Followup, cookies are getting sent back and forth but somehow the node/express webapp is not recognizing the cookie when it comes through the proxy.

Any ideas who to fix this?  I've enabled 'trust proxy' in the app.

Bobby

[2016-11-17 19:17] rdkgit commented on #152
I struggled with paths in the proxy code but once I got that squared away, proxy performed nicely with https,http, and cookies.  Closing issue.

[2016-11-17 19:17] #152 closed

[2016-11-22 20:25] LegNeato opened #153 "Feature: Turn off all body parsing / buffering to support large uploads"
(I couldn't figure out how to do this, let me know if it is possible and I missed it)

I am dealing with proxying uploads potentially in the GBs. I need the ability to not buffer the body locally and instead let the interceptors or decorators merely deal with the streams directly.

AFAICT, the body is always parsed/buffered (via [`raw-body`](https://github.com/villadora/express-http-proxy/blob/454

[2016-11-29 21:41] risacher commented on #28
I believe it is not possible to cleanly do this from inside Express middleware, because express is an application server, not an http server.  As such, express does not have an 'upgrade' event, which is necessary.  See https://github.com/expressjs/express/issues/2556.  For example, an Express app could be attached to two http servers (e.g. http and https), but the http servers need to handle the u

[2016-11-30 03:48] fuminchao opened #154 "Chunked-transferring and Content-length conflict"
The intercepted response will always send "content-length" back
If the original response from proxy server is chunked-transferred, there will be two conflict headers in the response both, "content-length" and "transfer-encoding: chunked"

pragma: no-cache
cache-control: no-cache, max-age=0, no-store, must-revalidate
last-modified: Sat, 30 Nov 1996 03:35:08 GMT
expires: Mon, 30 Nov 2015 03:35:08 GM

[2016-11-30 03:51] fuminchao commented on #154
Just check the latest version, this issue was already fixed.
Close it :-)

[2016-11-30 03:51] #154 closed

[2016-12-12 12:47] arjanfrans opened #157 "memoizeHost does not work"
I am trying to generate the proxy url dynamically by passing a function into the first argument. As an option I have `memoizeHost` set to `false`. I used the example coin toss function, but it always results in the same outcome.

[2016-12-16 04:18] radixhound commented on #152
@rdkgit Any chance you can post a little bit more detail about what you mean about struggling with the paths? Could you give an example of what kind of thing didn't work vs. what kind of thing worked? I'm just starting on this and ran into the same thing pretty quickly. Not sure why cookies aren't being set.

[2016-12-16 05:14] radixhound commented on #152
Ok looks like cookies are working for me too.

For future explorers, you can view the cookies being set with something like this:
[code]

My problem is that the form data being isn't making it through to the other server on a POST, and it's failing the check for the CSRF token which is a little misleading because the POST is blank...

[2016-12-16 15:33] rdkgit commented on #152
Hi!

I havent tested posting forms through my web proxy yet.  I'll test that next week when I get back from backpacking trip.

For paths, I'm setting up a proxy so that anything under /path goes to proxy1, /otherpath goes to proxy2, etc.  I had to manipulate the path a bit so I could catch various parts of the entire url string.

app.use('/path',proxy('localhost:1234/path',{
    https: true,
    f

[2016-12-16 17:56] radixhound commented on #152
Thanks for the reply!

I figured out my problem as well, turns out it's unrelated to the proxy. I have [body-parser](https://github.com/expressjs/body-parser) in the root of the app and it was intercepting the post request even though the mime type was `application/x-www-form-urlencoded` and wiping out the posted form data.

[2017-01-06 18:25] marr opened #159 "Can't console log within decorateRequest function"
I am trying to console.log out during the decorateRequest function and I am seeing nothing output in my console. I tried the debug module as well. Is there some way I could diagnose this?

Thanks

[2017-01-06 20:36] marr commented on #159
not an issue

[2017-01-10 16:19] fetimo opened #160 "Only set content-length when request is not a GET request"
Hi,

An app I'm trying to interact with is throwing a 400 error as this library will stringify an empty body (`{}`) resulting in a content length of 2, even though the content length of the GET request is 0.

I've submitted a PR that only sets the content-length header if the request is not a GET, I'm open to suggestions for other approaches though.

[2017-01-11 11:24] denizozger opened #162 "The data in req.body is mutated"
Where the application running in port `3000` forwards request body to `3001`;

[code]

the receiving end gets the body as:

[code]

[2017-01-27 15:15] SKHameed86 opened #163 "Version Discrepancy - Release 0.7, NPM Package 0.11"
Working on a project recently updated by a colleague, after I had made an update.

Trying to npm install, but there's a discrepancy between the version numbers. Package.json refers to the latest version, 0.11, but the GitHub release is up to 0.7.

[2017-02-01 19:54] adamrisser commented on #162
I had the same problem when I was using body-parser in my app. I removed body-parser and it went away.

[2017-02-05 07:27] cmal commented on #162
I had a similar problem but I am not sure it is the same.
I send a post request with "Content-Type: application/x-www-form-urlencoded", and param key value pairs. It shows right in browser but the server side get nil in the key's value. Can anyone give me some advice how to debug and solve this problem?

[2017-02-05 08:27] cmal commented on #162
I moved the `proxy` to above `body-parser` in express and it works now. Thanks @adamrisser .

[2017-02-08 16:23] #153 closed

[2017-02-08 17:03] monkpow commented on #157
@arjanfrans Feel free to show your code.  It appears to work for me, but you might have a use case I haven't seen yet.

[2017-02-16 15:56] monkpow opened #165 "add logging and deprecate asserts"

[2017-02-16 20:39] LegNeato opened #168 "No way to access request body data when not parsing the request body"
## Problem
If `parseReqBody` is `false`, there is is no way to read the content of the body.

* If you read from the request in `decorateRequest`, the request stream is
empty when sending the upstream the request and it will fail.
* If you read from the request in `intercept`, the request stream is
empty as it was already drained sending the upstream request. So you end up with 0 bytes read.

Ther

[2017-02-17 15:26] arjanfrans commented on #157
Unfortunately I do not have access to the code I used anymore. I just tried to reproduce it again, but it does seem to work fine.

I'll close this issue.

[2017-02-17 15:26] #157 closed

[2017-02-27 14:24] rdkgit commented on #152
Hi!

Sorry for the long long delay.  Was knee-deep in java/android and c-code.

I tested my proxy with forms, session cookies, and posts and it all seems to be working quite nicely.

Bobby

[2017-03-10 01:24] c0debreaker opened #174 "Reverse proxy to a react app and express"
I'm currently using foreman to start a frontend ReactJS app and backend api NodeJS in Express . The frontend app listens on tcp port 3000. The backend api listens on port 3001. I'm using Nginx to reverse proxy to these apps/services on my laptop. I'd like to get rid of Nginx and use express-http-proxy instead. However, I can't find a configuration example on where I should setup the port that expr

[2017-03-10 02:17] #174 closed

[2017-03-13 21:05] nbroeking commented on #127
Hello,

I am just checking in because the last traffic on this issue was several months ago. Does express-http-proxy support  multipart form data and file uploads? Is anyone working on it?

[2017-03-16 22:18] LegNeato commented on #168
@monkpow thoughts?

[2017-03-22 15:04] monkpow commented on #168
hey @LegNeato This is a very thoughtful proposal, and I really appreciate it.   However, there is some structural maintenance that I've been putting off for a while and am taking this period ( - Apr) to do some longer simmering restructuring.    Part of the restructuring is separating request body processing from the rest of the reqOptsBuilder so body handling could be pluggable (letting us handle

[2017-03-22 15:04] monkpow commented on #163
@SKHameed86 I'm unclear on your question.  Can you say more please?

[2017-03-22 15:08] monkpow commented on #127
@nbroeking There is no explicit multipart support.    I plan to address this in detail in priority order, but this is a little unattractive because I don't have much to start with.   Are you interested in contributing a failing test or failing test case?   This would accelerate action on this ticket.

Thanks,

[2017-03-22 15:47] thiagobustamante opened #175 "Support Promises for dynamic host"
I can implement dynamic hosts like:

[code]

But would be very useful if I could return a Promise on this dynamic function. It is important when I want to integrate with some service discovery system, like Eureka / Consul / etc, that works asynchronously.

I want to write something like:
[code]

[2017-03-23 14:59] monkpow commented on #175
I'm currently rearranging to code to allow (most|all) workflow steps to be organized as Promises.    This is in progress, and only have a general idea that I'll complete in the next few weeks.

In the meanwhile, I think you might try resolving the aysnc service discovery in an earlier step:

[code]

[2017-03-23 15:04] thiagobustamante commented on #175
OK. Good news. Thanks a lot for you reply and for your great library

[2017-03-25 16:07] JanzenZhangChen opened #177 "option "intercept" throw error when use a truncated gzip request."
When using "intercept" option, the http request is using gzip,but the data is truncated.So the proxy will throw an error of
"Error: unexpected end of file
    at Zlib._handle.onerror (zlib.js:370:17)
    at Gunzip.Zlib._processChunk (zlib.js:538:30)
    at zlibBufferSync (zlib.js:239:17)"
we can use a official method to solve this problem.
https://nodejs.org/api/zlib.html#zlib_compressing_http_req

[2017-03-29 16:29] monkpow commented on #177
@JanzenZhangChen Thank you for this report and suggestion.   Do you have a test case that's failing that I can use to verify your fix?  Thanks!

[2017-03-31 15:16] JanzenZhangChen commented on #177
sorry, i cant provide owner cgi to you,but I found one in cn.bing.com(china)

http://cn.bing.com/HPImageArchive.aspx?format=js&idx=0&n=1&nc=1490973090201&pid=hp&video=1

if you use fiddler to catch this request, in Raw section of response body, it said:
*** FIDDLER: RawDisplay truncated at 128 characters. Right-click to disable truncation. ***

[2017-04-04 23:48] pragmaticivan commented on #163
Found the same issue here. There's no release tag on Github to match the current latest one on npm (0.11). Looks like the releases on npm are not being published as new tags on Github.

[2017-04-05 14:52] BasHamer opened #190 "can the proxy be used to slow down responses?"
I'm using the proxy to override responses between a client (mobile device) and server; we are using it to simulate error responses based on regular expressions that run against the headers.

What we'd also like to do is to configure delays for calls, this is to mimic high latency, How should I implement this?

[2017-04-06 13:32] monkpow commented on #190
There is not a proper way to do this in the current version, but in a pinch there is an async method right now that you could exploit.

forwardPathAsync
app.use(proxy('httpbin.org', {
  forwardPathAsync: function() {
    return new Promise(function(resolve, reject) {
       setTimeout(function () {
         resolve( /* your resolved forwardPath as string */ )
       },1000);
    });
  }
}));

[2017-04-06 14:09] BasHamer commented on #190
awesome, thank you;

I'm ok letting this feature wait for a little longer.

So far it has proven incredibly useful :)

[2017-04-09 00:21] marr opened #210 "Regarding eTags and If-None-Match headers"
I'm not sure if this is an issue with my usage of the module or with fetch, but when I make a call to a proxied endpoint which sends an _etag_ header, and I make a subsequent call to that resource, the if-none-match header is _not_ set. I am using fetch from the client side to a local express server with the e-h-p middleware.

My setup looks like https://gist.github.com/marr/5d400142581c65faae4fc3

[2017-04-10 16:30] monkpow commented on #210
Thanks for this issue;  I'm going to assume this is simply a bug on our side right now; I'll look into it this week.

[2017-04-10 16:33] monkpow commented on #97
This blew up badly last week, as http-bin removed /post, causing several tests to just fail

[2017-04-10 22:25] marr commented on #210
Thanks @monkpow - Do you know why the proxy would return a 200 even though it never actually proxies the request? It appears to be returning a cached response but i'm not sure how to troubleshoot further. I am sending the `no-cache` header just for good measure but I still get a 200 back, possibly because of that `cache-control` value I posted in the original issue.

[2017-04-10 22:45] monkpow opened #212 "Add debug module and log messgaes"
to help authors trace the execution of the module

[2017-04-10 23:23] marr commented on #210
@monkpow This may be PEBCAK -- I think my issues might be on my server.

[2017-04-11 13:55] reallyroy commented on #159
I'm having the same issue. Nothing I console on any option function seems to be printing. I want to  check the path of the incoming request and then modify it.

[2017-04-11 14:13] phenomnomnominal commented on #177
The fix suggested by @JanzenZhangChen fixed some issues I was getting too. Do you need a PR?

[2017-04-11 15:19] monkpow commented on #210
@marr Ha, understood.  Let me know how it works out.   I haven't done a lot of specific testing/work on etags yet, so I'm interested in this case.   Thanks.

[2017-04-12 22:21] marr commented on #162
This one got me too!

[2017-04-21 15:06] GuentherFroestl opened #218 "documentation out-of-sync with currently published module (0.11.0) on npm"
First of all many thx and kudos for such an useful middleware module for express.js. Exactly what I'm in need for.
Unfortunately the docu is ahead of the curently published version on npm and only one branch existing the'master'.
Would recommend to do such major refacoring next time within a own branch, leaving master untouched and in sysnc with the publishe version.
Never mind, really good stuff

[2017-04-23 16:32] Arthur-W-White commented on #218
Yes, took me awhile to figure this out...
When you do:
npm install express-http-proxy --save
You get a version that is "outdated" and the docs' suggestions don't work.
For instance, `proxyReqPathResolver` doesn't work but `forwaredPath` does.
This may seem like a none-issue but it could cost unwary noob devs many hours of our lives.

Only figured this after reading some of the code inside node_mod

[2017-04-24 13:12] CreativeCactus commented on #139
Just for reference, you can `npm i villadora/express-http-proxy`

[2017-04-25 20:00] monkpow commented on #218
@GuentherFroestl @Arthur-W-White Thanks for the feedback;  I have published the 1.0.0 module now, so the documentation is up-to-date with code published on npm.

@GuentherFroestl I wanted to allow the lib to 'bake' on master;  letting early adopters grab it without disrupting those users currently using the published versions.   I'll look at other options to make this more clear to users in the fu

[2017-04-25 20:01] #218 closed

[2017-04-26 16:17] GuentherFroestl commented on #218
@Arthur-W-White Thx a lot for the update . One approach which we are using here in  my project for early adopters is to use a branch like develop. You still could publish the new stuff to npm using a tag like 'next'. So your early adopters could pull it from with the 'next' tag.
In anyway realy good stuff your proxy, using it already in my project with success, so many thx :-)

[2017-04-26 18:38] monkpow commented on #175
I'm planning to look into this next;   there is a small hiccup that there are more than one method that mutates host right now, so I need to collapse them so any override would be reliable.

[2017-04-27 18:55] danosaure opened #220 "remote path not used"
Hi,

I'm wondering why the remote path is not considered?

    app.use('/somePath', proxy('http://other.server/other/path'));

So that when I call `/somePath/abc`, it is proxied to `http://other.server/other/path/abc`?

Right now, I have to workaround with something like:

    const proxyPath = url.parse('http://other.server/other/path').path;
    app.use('/somePath', proxy('http://other.server/ot

[2017-04-28 16:18] monkpow commented on #220
I think you're asking:

When i provide a 'host' argument,  and i also include a path in the host argument, why does that path get discarded?

The library simply works differently;  in that it treats host and path as separate concerns.

IOW:  The process that parses the host argument will extract the host portion from whatever url (or string or function result) you provide.  It discards any path, q

[2017-04-28 17:55] danosaure commented on #220
Hi,

Thanks for getting back.. I'm just using the full value because they come from a config file. I understand what you are saying, what I am suggesting is to make that available... It wasn't really clear to me it was only the host, not the proxy url.

In Apache, you would do this type of configuration

ProxyPass "/local/path" "http://remote.server/remote/path"

Thus my natural first instinct to

[2017-04-28 18:05] danosaure opened #221 "X-Forwarded"
Hi,

I've realized that this middleware doesn't add any of the `X-Forwarded-*` or `Forwarded` headers.  Is this intentional that every one using this should had these themselves?

This is what I have to do (and not totally sure I got it done properly):

[code]

[2017-04-28 19:52] monkpow commented on #221
Currently, the library does not add any headers, but rather simply copies the headers from the req object passed to it.

I can't tell if your concern is its not copying your headers, or you believe that this lib should add them automatically.

[2017-04-28 20:02] monkpow commented on #220
Yep, I see why it would be helpful in your case.     My POV is I'm oriented toward having a single place to define and modify each of the workflow steps, as I think its confusing to authors to have multiple ways to mutate the path.

A simple example is:  What would you do if a user passed a path on the host argument, and also defined a pathResolver?   Do we ignore one value or the other, assume th

[2017-04-28 20:09] danosaure commented on #221
Yes, my concerns is that no "Forward" headers are added by the proxy. But in my case, I just do it because I need those headers that are added by another proxy (testing server without having the proxy installed on my local, thus looking at simple alternatives like this module)

[2017-04-28 20:17] danosaure commented on #220
I guess, my first reflex is not even thinking of needing a pathResolver for my default path:

[code]

because i would think that: /hello/my/friend would bring me to http://other.host/remote/path/my/friend.

I'm not saying it should be modified, just that was my first expectation... but I figure it would that I need to make more complicate configs for the "simple" use case.

In your approach, I wou

[2017-04-29 13:50] monkpow commented on #221
Interesting.    I'm going to dig in a little and see if I can compose a useful standard set that could be added optionally for authors.    Do you mind if I use the code sample above as a starting point?

[2017-04-29 13:54] monkpow commented on #220
Happy about the conversation, thank you.    I'm going to close this, but feel free to re-open if you'd like to continue the conversation.

[2017-04-29 13:54] #220 closed

[2017-04-29 14:34] monkpow commented on #177
I found an separate bug in the parser for zip that I *think* may have been causing this.   The patch is in the 1.0.* line.

If you're still experiencing the issue, I'd be very happy to get a PR if you would like to accelerate resolution.

[2017-04-29 14:36] monkpow commented on #210
Turning this from an issue report to a feature request.   Seems like some additional smarts or at least testing on etags would be good.

[2017-04-29 14:40] monkpow commented on #163
@SKHameed86 @pragmaticivan I think this was my issue; that I botched 0.11 when I published it.   I believe I've fixed it; could either of you confirm if you are still experiencing the issue?

Much appreciated.

[2017-04-29 14:40] reallyroy commented on #159
Hi Monkpow,

I figured out why this was happening. I was using the newer functions instead of the older ones. Hadn't realized that the notes were updated to 1.0 while the code was not at that time. Once I used the older functions it all worked fine.

Regards,
Roy

[2017-04-29 14:43] danosaure commented on #221
Please do, if you want to see how I am using it: https://github.com/Quoin/dummy-proxy/blob/master/app.js

[2017-04-29 14:43] monkpow commented on #159
Thanks for letting me know @reallyroy.  Sorry for the confusion I caused you.   I borked the transition between the old version and the new version, and it sounds like I caused many hours of debugging headaches for you and others.     Learning experience for me, and my apologies to you.

[2017-04-29 14:46] monkpow opened #222 "[investigate] Enhancement request for options to make parallel proxy requests to multiple servers"
Needed some help with making parallel request to multiple server.   (from email request)

[2017-05-01 14:13] #159 closed

[2017-05-02 16:33] martinzuern opened #223 "Misspelled documentation"
It should be referred to `proxyReqBodyDecorator` instead of `decorateProxyReqBody` in the Readme.

[2017-05-02 17:22] monkpow commented on #223
Thank you for this catch.   Corrected.

[2017-05-03 10:14] #223 closed

[2017-05-03 10:19] martinzuern opened #224 "Unhandled promise rejection: Error: request aborted"
I regularly receive the following issue on GET requests: `(node:17) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 35): Error: request aborted`. This only happens since the update to v1.0.

[code]
(Logs from a production machine, sorry about the newrelic spam)

[2017-05-03 22:21] monkpow commented on #224
@martinzuern Thanks for the ticket.    Can you give me a little more information so that I might be able to reproduce the issue at my end.   The current test cases I'm running don't trigger this issue, but I'd like to test and repair it.

Thanks!

[2017-05-04 14:13] martinzuern commented on #224
It's pretty hard to reproduce – the issue occurred on my end when hosting the node app on AWS ECS and running a loadtest from BlazeMeter.com. Nevertheless, after some more testing I'm convinced that this issue is more related to raw-body than to this package. Thanks for your quick response!

[2017-05-04 15:27] monkpow commented on #224
I reviewed the code and it looks like there are some quirks in how timeouts and aborts are handled (or not handled),  so I think you have identified an issue in this lib.   I'll try to construct some cases that expose this issue.

[2017-05-05 16:15] JanzenZhangChen commented on #177
I created a PR to the project. I couldnt pass the "on the nose" mocha test. And I have no idea how to fix this problem,

[2017-05-07 12:56] FrancescoSaverioZuppichini opened #226 "Body is not added to the request"
The body of a request doesn't reach the proxed server.

[2017-05-09 08:13] jehon commented on #221
Hello,

I am also interested in a header being added saying that the request was proxied.

Anything could do the trick, so using a standard header would be ok for me (X-Forwarded).

Have a nice day,
Jean

[2017-05-09 08:16] jehon opened #227 "How to add a header in the response?"
Hello

I would like to add a header in my response, indicating that the resquest was sent to a remote proxy.

How could I use the userResDecorator to make that?

I would like to add a header like: "Proxyed-for-you-to: remoteserver.anywhere.org"

Thanks

[2017-05-09 08:19] jehon commented on #227
Ok, I found it out myself by looking in the tests.

For thoses interested, here:
https://github.com/villadora/express-http-proxy/blob/master/test/userResDecorator.js

app.use('/', proxy('remoteserver', {
	userResDecorator: (proxyRes, proxyResData, userReq, userRes) => {
		userRes.set('x-wombat-alliance', 'mammels');
        return proxyResData;
    }
}));

[2017-05-09 08:19] #227 closed

[2017-05-10 10:07] jacomyal opened #228 ""limit" option no more taken into account"
The "limit" option [is not dealt with](https://github.com/villadora/express-http-proxy/blob/f1a7e449bc8a737c29b0ac2407a9cb34c64664b5/lib/resolveOptions.js#L32-L46) in the `resolveOptions.js` file.

[2017-05-10 12:15] monkpow commented on #228
Thank you for the report.  You are correct.   Fix should be posted today.

[2017-05-10 12:17] monkpow opened #229 "Limit option needs a test to ensure it is being captured correctly."
I fixed a bug with this recently, but could not immediately figure out an easy way to test it.

[2017-05-10 12:23] monkpow commented on #226
@FrancescoSaverioZuppichini  Can you give more information please?    Sounds like a serious bug.   Can you tell me more about the case where the body of the request doesn't reach the proxied server?

Thanks!

[2017-05-10 13:08] jacomyal commented on #228
Nice, fixed already!
Thanks a lot for your reactivity :)

[2017-05-10 13:08] #228 closed

[2017-05-10 14:20] FrancescoSaverioZuppichini commented on #226
I have the following code:

[code]
No body is passed to my servers, so I had to implement it by myself by doing
[code]

[2017-05-12 11:48] bitsal opened #231 "Invalid default proxy path"
Version `1.0.3`

When I configure the proxy with all default options I expect it proxies an origin request as is to the proxy.
[code]

but it sends it to a root path `/` to the proxy server even
[code]

Could you explain me if it works as designed and I have to override `proxyReqPathResolver` OR there is an issue?

[2017-05-12 13:14] bitsal commented on #226
@FrancescoSaverioZuppichini could you verify whether you use any body parsers in your proxy configuration above?
I had a similar issue when I have invalid body parser configured above.

[2017-05-12 13:42] monkpow commented on #231
Hi @bitsal,  thanks for the ticket.

I feel like I'm not understanding your request enough to help.    It looks like either you misunderstand the API, or I misunderstand your issue.

I've added some tests to the suite to demonstrate how I expect/believe it to work, essentially:

Given:
[code]

a request to /root => http://proxy.com/
a request to /root/beer => http://proxy.com/beer
a request to /ro

[2017-05-12 13:54] #163 closed

[2017-05-12 14:03] bitsal commented on #231
@monkpow Thank you for the quick answer. It seems you are right and it works as you described.

Should it be a default behavior or `/root` also gonna be included in the target proxy path?

[2017-05-12 15:04] FrancescoSaverioZuppichini commented on #226
This is my cofing
[code]

[2017-05-12 15:48] bitsal commented on #226
Everything works with `devServer.use(bodyParser.urlencoded());` only. I didn't play with extra options but with a combination of parsers and default settings, it doesn't work for me as well.

Try to play with parsers as a workaround solution: e.g. specify specific URLs (regexp) for a particular parser if you know what content type is used for which.

The final solution/cause should be explained by

[2017-05-12 16:34] FrancescoSaverioZuppichini commented on #226
it's working! Thank you

[2017-05-12 16:35] bitsal commented on #226
@FrancescoSaverioZuppichini I wonder what has helped you finally

[2017-05-15 13:07] SimonPNorra opened #234 "Cirquit Breaker for proxy requests"
Hey there,

we are currently using your library to route requests to a third party service. I was wondering if we can use a ciquit breaker implementation like histrixjs with your library (https://www.npmjs.com/package/hystrixjs). Common implementations of cirquit breaker are wrapping promises and are not compatible with middlewares. If there is already a hook we can use (and unfortunately I don't

[2017-05-16 08:36] jpetitcolas commented on #177
Note we have the issue when receiving a 204 (No-content) response on a `DELETE` request. We circumvent the issue using a code like:

[code]

[2017-05-16 21:52] psurma opened #235 "How to copy a value from the request body into the request header"
Hi,

Is it possible to use a value from the body of the request and store it as a header key/value?

I notice that the decorators get processed out of order and I need to get some values from the body and copy them to the header before sending out the proxied request.

Any ideas?

[2017-05-16 22:07] psurma commented on #235
oh.. bodyParser.raw()

[2017-05-16 22:07] #235 closed

[2017-05-17 13:29] ZeusTheTrueGod commented on #127
@monkpow could you update readme to explicitly tell people that form upload just does not work and it is better to try, for example, `http-proxy-middleware` ?

[2017-05-18 09:29] mattiasnordqvist opened #236 "It seems streaming requests are buffered in the proxy container"
We've used the express-http-proxy up until now, but it seems it doesn't handle streaming very well, does it?

When we download big files through the proxy, the node server is starting to use up a lot of memory, and we don't get the http response until the whole file is written to memory in node.

I think this code in sendProxyRequest.js is what is causing the memory build up.

[code]

The promise

[2017-05-18 12:24] monkpow commented on #236
Yep, you're correct.    I recently reorganized the library into workflow steps, and my hope is that will allow us to swap this out for a streaming module when the file size is large or you have no interest in decorating the response.   But the current state is as you describe it.

[2017-05-25 02:41] littletwolee opened #238 "upload slowly by proxy"
Hi guys
  Our team have a problom. When we upload a file to backend by express-http-proxy.It's will slowly, and when we unuse it, our project will fast.It's look at like the request is stop some seconds(about 20s),and go on it.
  Can you help us?
fontend : ajax
backend : golang restful api

[2017-05-26 03:07] w-rose commented on #238
Hi:
Our team have the same problom. It seems that the proxy sending the real request has some seconds delay.
 wish help!

[2017-05-26 07:42] littletwolee commented on #236
hi @monkpow ,we have a problem like @mattiasnordqvist, so can you tell us, how much your cache limit of large file

[2017-05-28 04:18] JanzenZhangChen commented on #238
@littletwolee
i cant proxy a form request with file to the server.
the body is wrong,
what body parser should i use,
I read the source code.it seems it only proxy the content to the server.

我看你应该是中国人，所以也用中文描述一下我的情况。
我现在提交文件到服务器失败了。我看了一下源码只有把body的转移过去。你是用了什么中间件了么。把文件信息转成了body的内容？

[2017-05-29 08:09] mattiasnordqvist commented on #236
It doesn't look like there is a specified limit, really. @littletwolee

[2017-05-31 05:13] littletwolee commented on #238
@JanzenZhangChen
哈哈哈哈，英文不好。我们是有时成功有时失败，看网络，你失败如果是504的话，就是超时了。这个没办法，其实我们最主要的原因就是，他卡顿，就是卡在那，应该是等待他缓存或者下载你的Body然后重新组装再提交，如果慢了，就有可能超时，如果没这步缓存，应该是秒的。

[2017-05-31 05:17] littletwolee commented on #236
@mattiasnordqvist
I hope so,it look like have a cache.So, if we upload or download a big file, it need to cache by itself.I think this is why slowly.

[2017-05-31 16:05] monkpow commented on #238
@littletwolee @JanzenZhangChen @w-rose Hey all, thanks for the comments.   In general the library is optimized for use case where the author is modifying the document and or headers in either the request or response path.    This means that currently the library waits for the entire document to complete upload/download before moving forward, so it is slow on large documents.

For the 1.0 line, I r

[2017-05-31 16:40] monkpow commented on #234
Hi @SimonPNorra

I haven't worked with any circuit breaker implementations yet.    Sounds interesting, can you elaborate on what you'd need express-http-proxy to do in order to support you?

Thanks

[2017-05-31 16:48] monkpow commented on #231
@bitsal The default behavior should remain the same as today, if nothing else, to ensure a consistent experience for those using it today.   I think you might want an option called ```preserveMatchingPath``` or something like that.      Remember that authors can over-ride the proxyReqPathResover, so you'll want to think through how your match affects authors who over-ride the resolver.

Thanks.

[2017-05-31 17:17] bitsal commented on #231
Thanks!

[2017-05-31 17:17] #231 closed

[2017-06-01 04:51] anasanzari opened #239 "Is it possible to parse the response before returning to caller?"

[2017-06-01 04:52] #239 closed

[2017-06-01 06:16] littletwolee commented on #238
haha, thx @monkpow, If we have modify of this project, we will give your a pull request. And we hope version 1.0 is come soon.Thx

[2017-06-02 06:27] SimonPNorra commented on #234
Hi @monkpow

Thanks for your reply. We are using express-http-proxy in a microservice environment and do route some requests from our express server to other services, like a central validation service. Requests to this service are handled realtime and the response is providing feedback to our client. We have a behavior implemented, when this validation service isn't available anymore. We believe

[2017-06-08 01:32] perfectr opened #240 "shasum check failed"
I'm getting a "shasum check failed" error when I try to download express-http-proxy from npm. I'm trying to use "Apimocker" but it has a dependency on express-http-proxy and whenever I do a npm install I get the following error;

[code]

I can workaround the problem by separately importing version 0.7.0 of express-http-proxy into my package.json but would like to resolve this issue and remove the

[2017-06-12 19:16] dhatcher opened #242 "Get Result: Internal Error: Missing Template ERR_INVALID_REQ from any proxied request"
Even attempting the sample: app.use('/proxy/any', proxy('http://www.google.com'));

When I hit my endpoint: myserver/proxy/any I get the missing template result.

Any ideas what I could be doing wrong?

[2017-06-13 17:29] dhatcher commented on #242
This must have been some sort of connectivity issue.  Restarting my machine seemed to solve it.

[2017-06-13 17:29] #242 closed

[2017-06-15 19:00] BasHamer opened #243 "path can't be set in proxyReqOptDecorator as documented"
if the proxyReqPathResolver method is not provided but you set the path in proxyReqOptDecorator then the path gets overwritten with the original path by the default for proxyReqPathResolver.

code:
    proxyReqOptDecorator : function(proxyReq, originalReq) {
        proxyReq.path = 'bob';
        return proxyReq;
    },

by itself will have no effect, you need to add
proxyReqPathResolver: function

[2017-06-15 22:09] monkpow commented on #243
oof, thanks for that.  I'll update the docs.

[2017-06-21 00:37] monkpow commented on #243
Thanks for this.   This is as designed, but the docs were absolutely wrong.    I'm sure that was frustrating to debug.

[2017-06-21 00:37] #243 closed

[2017-06-21 00:39] monkpow commented on #240
Thank you for this.   I have confirmed, and I will update npm shortly.

[2017-06-21 00:59] monkpow commented on #240
@perfectr I've posted a new version to npm, and believe I've addressed it.   Would you let me know if you continue to have issues.

[2017-06-21 01:07] perfectr commented on #240
@monkpow Great! -That seems to have fixed the problem. I can now download the 1.04 version and it doesn't have any npm related issues. Thanks!

[2017-06-21 01:08] #240 closed

[2017-06-21 14:21] 156554395 opened #245 "Proxy works for POST that body is wrong"
The body received by the agent's interface is an object
The object's contents are:
{
 '{"startTime":"2017-06-21 00:00:00","endTime":"2017-06-21 23:59:59"}':""
}
What we want to achieve is body content is:

{"startTime":"2017-06-21 00:00:00","endTime":"2017-06-21 23:59:59"}

version：
"express": "^4.15.3",
"express-http-proxy": "^1.0.4",

[2017-06-23 14:42] Ustice commented on #212
The project has a debug option now, but it seems that it only shows the original unmodified request. Is this the case?

[2017-06-25 15:08] monkpow commented on #212
at this point,  yes.

[2017-06-27 09:31] ufologby opened #246 "Create new release for version 1.0.4"
Could you please create new release for version 1.0.4 that will be available on Releases page.
Problem that if i tried to install "express-http-proxy": "~1.0.4" error :

npm ERR! code ETARGET

npm ERR! notarget No compatible version found: express-http-proxy@'>=1.0.4 <1.1.0'
npm ERR! notarget Valid install targets:
npm ERR! notarget ["0.0.1","0.1.0","0.1.1","0.2.0","0.2.1","0.2.2","0.3.0","0.3.1",

[2017-07-04 02:49] yaoyw0727 opened #247 "how to catch error"
In my project I need to catch error event, but I dont know how to do it?
For example, my proxy config like:
app.use('/proxy', express_proxy('http://127.0.0.1:8087', {
        reqAsBuffer: true,
        reqBodyEncoding: null,
        parseReqBody: false
}

When http://127.0.0.1:8087 is down, then how can I catch the event? I checked the doc many times but got nothing. Does anyone knows? Is there an

[2017-07-05 06:54] gajus opened #248 "How to "next" (skip middleware) based on the response?"
I have a setup such as:

[code]

If `PRERENDERED_APP_URL` responds with an error (e.g. status 404), I want to delegate the request to the next route. I do not see "next" as an option in the `userResDecorator`.

[2017-07-05 14:11] ericberberich opened #249 "413 promise reject is not caught in node 8.1.2"
the Function getRawBody returns a promise which is rejected (http statusCode 413) when the body size is larger than the limit

However in node 8.1.2 I get this error:

[code]
... and the execution stops.

Steps to reproduce:

Send a formData whose size is beyond the limit (say 1mb) with `parseReqBody: true` option

[2017-07-06 11:14] YuppyChen opened #250 "ajax请求代理转发post请求问题"
eg
 http://localhost:3001/api    forwart:  http://localhost:3000
post请求   http://localhost:3001/api/users   data：{a:1,b:2}
在  http://localhost:3001/api/user 里的req.body显示{a:1,b:2}
在代理服务端，接收到的req.body变成了{'a':'1','b':'2'}=''

[2017-07-07 02:20] icaroponce opened #251 "Getting empty buffer in proxyResData when the http status is 304"
Hello there,

Recently I've got some troubles using this module.

I'm trying something like that:

[code]
When I do the first request from my client, which has no custom headers set, I get a `200` HTTP response code, everything's as expected. But, when I do the same request again, e.g. refreshing the page, and I gettting a `304` status code, the variable `proxyResData` is an empty `Buffer` ( which

[2017-07-07 02:52] 156554395 commented on #250
我也遇到了，最后没用这个插件了，直接用request来转

[2017-07-07 06:09] YuppyChen commented on #250
使用http-proxy可以实现正常的post请求。

[2017-07-07 15:57] monkpow commented on #246
@ufologby Could you provide more info about your environment?   nvm, npm and node versions and os?

i get
[code]

[2017-07-07 16:13] monkpow commented on #247
see this:  https://github.com/villadora/express-http-proxy#timeout

My expectation from your description is that the server at ```http://127.0.0.1:8087``` is hanging, and not returning a 500 or 404.

To handle this case, you'll need to spec your timeout with the proxy definition.

I'll update the docs as to what to expect with various error conditions.

[2017-07-07 16:49] monkpow commented on #247
https://github.com/villadora/express-http-proxy/pull/252/files

hopefully that helps, let me know if you need anything else.

[2017-07-07 16:49] #247 closed

[2017-07-07 16:50] monkpow commented on #248
Currently, you'd have to hack something unexpected;   that use case is not explicitly supported, but let me look into it.  This makes sense as a feature.

[2017-07-07 17:10] gajus commented on #248
Worth keeping an eye on https://github.com/chimurai/http-proxy-middleware/issues/179

[2017-07-07 17:46] #248 closed

[2017-07-07 17:48] monkpow commented on #248
I roughed in a small feature to master today.  Let me know if this matches your expectations/use case.

Thanks for the tip on chimurai!

[2017-07-07 17:55] monkpow commented on #251
If I'm reading this right, you're doing:

user request => express-http-proxy => proxyServer

on first request, proxyServer returns 200 with data, and express-http-proxy returns 200 with data
on second request, proxyServer returns 304, not modified, with no document, and express-http-proxy returns 304, not modified and with an empty Buffer.

Did i describe this correctly?

This is how I expect it t

[2017-07-07 18:45] icaroponce commented on #251
Yes, you did.

I wasn't expecting it to be an empty document. Since the service, which I'm proxying to, returns a **`JSON`  document**, and I need to do some processing whit this parsed json document on the `userResDecorator` before send it back to the client.

As I'm getting a 304 not modified, and it's an empty document, my app's crashing every time I refresh the page for example, since it can't

[2017-07-07 18:58] monkpow commented on #251
Well, the issue (as I see it) is that here

[code]

you're expecting ```proxyResData``` to be a parseable buffer with a data attribute.

And you would instead first need to verify there's a document to parse and find attributes on.  something like
[code]

You might be assuming that your proxy server is returning JSON on the second request, but it is instead responding 304, nothing changed.   In th

[2017-07-07 19:11] monkpow commented on #249
i'll take a look

[2017-07-09 16:35] icaroponce commented on #251
No, it's not exactly what I'm asking for, but  the change in the docs may be very useful ( since I was using the decorator exactly as its usage was described in the docs ) to reference this situation as you did in your last commits.

As in my use case, although the response `304` not modified, received from the proxy server indicates that nothing has changed on the first server, I might change the

[2017-07-10 01:55] yaoyw0727 commented on #247
@monkpow
Thanks a lot for your response firstly. The option timeout is useful of course.
After set option 'timeout' for proxy, the response changed to be 504 Gateway Timeout when the server http://127.0.0.1:8087 is down.
![image](https://user-images.githubusercontent.com/27849864/27999881-4de9ddca-6554-11e7-9fe6-0aee39cb9ed2.png)

And I think I need your help again for another question. Below is t

[2017-07-10 14:10] ufologby commented on #246
Hi, @monkpow!
Problem was while executing npm install with --production key like this:
npm install --production express-http-proxy@1.0.4

[2017-07-15 19:51] ht512512 opened #255 "Instead of proxying it redirects"
I was having trouble using the module with my sailsjs app so I tested it with the following simple express test server and it instead of proxying, redirected browser to the target (www.google.com for the test).

Server code
---------------
[code]
Browser to http://192.168.1.211:1337/proxy returned 302 redirect to
   Location:https//www.google.com/?gws_rd=ssl

I have attached the navigation trace a

[2017-07-16 19:18] monkpow commented on #255
Hi @ht512512,

Thanks for the question.

The way I'm reading it, it looks like the proxy does pass through to your requested proxy address 'http://google.com' and that request to google returns a 302 to ```/?gws_rd=ssl```.

IOW, You are seeing a request from the browser to ```/proxy``` returns 302, because the proxied call (on server side) to ```http://google.com``` returns a 302.

There is a DEBU

[2017-07-17 14:03] victorbucutea opened #256 "how to pass new parameters to initial request"
How to do this as in decorateProxyReqOpts I have the following code which seems to remove all params:

  return Promise
    .resolve(resolverFn(container.proxy.reqBuilder, container.user.req))
    .then(function(processedReqOpts) {
        delete processedReqOpts.params;
        container.proxy.reqBuilder = processedReqOpts;
        return Promise.resolve(container);
    });

I haven't even seen t

[2017-07-19 02:00] icaroponce opened #257 "maybeSkipToNextHandler is already available?"
Hi, I'm trying to test the new and useful `maybeSkipToNextHandler` option method in one of my use cases, but I couldn't find it on the latest release (`1.0.5`, if I'm not wrong).  Since it's describe as "`experimental`" in the docs, does it mean it's not available in the latest release? If yes, do you have already a predefined "deadline date" to include it into a new release?

[2017-07-20 12:35] monkpow commented on #257
Its only on the master branch and hasn't been published to npmjs yet.    I expect to publish a new patch version in the next week with this feature.

[2017-07-20 16:24] icaroponce commented on #257
Got it, thank you!

[2017-07-20 16:24] #257 closed

[2017-07-21 11:28] erikverheij opened #258 "options.preserveHostHdr not working"
Hi! Thanks for this great library. I tried to upgrade from `v0.11.0` to `v1.0.5`. In my case the proxy does not work anymore. I encountered that the `preserveHostHdr` does not work anymore.

[code]
this worked fine in `v0.11.0`.

I noticed that `requestOptions.create` is invoked with 4 arguments in [app/steps/buildProxyReq.js](https://github.com/villadora/express-http-proxy/blob/58c09c4d7d30975135

[2017-07-21 12:44] monkpow commented on #258
Thanks for this.   I'll take a look right now.

[2017-07-21 13:27] monkpow commented on #256
<quote>
req.params contains route parameters (in the path portion of the URL), and req.query contains the URL query parameters (after the ? in the URL).
</quote>

Are you saying you'd like to pass route parameters to the proxy request?   I'm confused about the request.

If you are instead asking about query parameters you'd use a ```proxyReqResolver``` to add new query params to the request.   If

[2017-07-21 13:28] #258 closed

[2017-07-21 13:32] monkpow commented on #258
I'll cut a release today to publish this.  LMK additional questions.  Thanks again.

[2017-07-21 13:33] erikverheij commented on #258
wow that's fast, thx! 👍

[2017-07-21 13:40] #255 closed

[2017-07-21 13:46] monkpow commented on #251
hmm.   This is quite an unusual use case.    It no longer sounds like you are trying to cache a response, but instead that if the user gets a 304, you might give them an arbitrary response that might be different for each request.

I'm curious if you have looked at ```maybeSkipToNext```.   This would allow you to call next() if you get 304 back, and let a subsequent handler in your app handle a de

[2017-07-21 13:47] monkpow commented on #249
Update, thanks for this ticket.  I've been struggling to write a test that executes this case, but I am working on it.

[2017-07-21 13:48] monkpow commented on #246
[code]

[2017-07-21 13:49] monkpow commented on #246
@ufologby Are you still experiencing this issue?

[2017-07-25 00:56] icaroponce commented on #251
Not exactly. It's not an arbitrary response. The response returned by the proxy to the client is based on the proxied server response, so, the best option for me would be cache the response and use it when we get a 304 from the proxied server.

In my use case, I'm using this module to implement an API Gateway in a microservices architecture.
So, one of the API gateway capabilities is that it can b

[2017-07-25 18:09] troyparrett opened #261 "204 with no content-length and gzip content-encoding"
I'm proxying an API that is returning a 204 with a content-encoding of gzip and it's failing because there's no body .. unexpected end of file in decorateUserRes.js.

[2017-07-26 03:59] davebecker3 opened #262 "test suite should accept a test port so that in use ports do not crash the test suite"

[2017-07-26 13:18] comlaterra opened #267 "Expand debug info to include the proxied absolute path"
With `DEBUG=express-http-proxy` I only see the requested information, but no proxied information is shown.

There is any other way to actually see the "new" request?
Thanks

[2017-07-27 15:31] rcollette opened #268 "Promise rejection documentation"
What happens when decorating the request options and a promise is rejected?    How can I specify a particular response code and response message?

[2017-08-07 09:57] thrinno opened #270 "Possible to ignore certificate errors?"
On a server I am running two express applications: a static server and an API server. I am proxying requests from the static server to the API server via this package. The API server is running on https and should be also available externally. The certificate is valid as seen from outside (the domain name corresponds to the contents of the certificate), but when proxying internally (i.e. to a loca

[2017-08-10 02:04] JohnCalhoun opened #271 "cdjfjgnuktfugbgrekccli"

[2017-08-10 02:04] #271 closed

[2017-08-12 00:11] malliapi opened #272 "Add a workflow step to allow author to more easily/correctly modify headers and metadata on userRes."
Why does userResDecorator return data and not the full request? i want to set some headers on it, how can i do that?

[2017-08-20 08:55] john-doherty opened #273 "Proxy response headers"
First of all, great module!

What is the best way to set a HTTP header of a proxy response before passing it back to the client?

I need to add `content-disposition: attachment` for all PDF requests.

Thanks

[2017-08-20 11:52] john-doherty commented on #273
I figured it out:

[code]

[2017-08-20 11:52] #273 closed

[2017-09-06 13:25] monkpow commented on #272
Its on the roadmap to add more controls to the resDecorator.  In the meanwhile you can "cheat" by exploiting references as shown in the README here => https://github.com/villadora/express-http-proxy#exploiting-references

[2017-09-06 13:29] monkpow commented on #270
No, today the library doesn't, and I don't have plans to support this.   What I've seen others do is use decorateProxyReq to add a cert to the proxy request.

HTH

[2017-09-06 13:29] #270 closed

[2017-09-06 14:08] monkpow commented on #267
@comlaterra Thanks for this ticket.

[2017-09-06 14:11] #267 closed

[2017-09-06 14:48] monkpow opened #277 "organize test files to match recent refactoring"

[2017-09-12 03:29] BrandonZacharie commented on #246
Many of us rely on the github release page and git tags for information about what and when code was released . Can you please update them?

[2017-09-18 13:38] jehon opened #280 "[maybe] Add a new hook ```decorateUserHeaders``` (or similar name) that is passed details of the proxied request."
Hello,

I am trying to add a header to the response, to tell to the client to wich server the response was proxied.

The idea is that the remote host is dynamically generated from URL:
[code]
I use the userResDecorator system:
[code]

I don't think it is a good idea to use "_host", as it is certainly an internal field.

But more than that, this does not give me the "port" to which the request was

[2017-09-18 15:43] monkpow commented on #280
Right now, there is not an obvious way to do this in the library.     In this case, I would expect the server responding to a dynamically generated URL to add the required header.

There is a hook for adding headers to the response (copyProxyResHeadersToUserRes) , but its currently not overridable.   I'd accept a patch for this if you are interested in adding this feature.

[2017-09-18 16:52] monkpow commented on #246
@BrandonZacharie Hey, thanks for calling this out.
I think I fixed this, would you please verify, or let me know what I'm missing.
Thanks,
Nik

[2017-09-18 16:53] #246 closed

[2017-09-24 23:03] OronNadiv opened #284 "Asynchronous "getHost" implementation."
I need to return the host asynchronously.  Currently, it can be done only [synchronously](https://github.com/villadora/express-http-proxy/blob/ed81ee214df79122c4e0f57c222a0fbb97ba3fdb/lib/requestOptions.js#L27
).

I would be happy add support for that functionality and submit a PR.
Would you consider merging this change into your next release?  If the answer is yes, then let's talk about the imple

[2017-09-24 23:08] OronNadiv commented on #284
I see that this issue was [discussed](https://github.com/villadora/express-http-proxy/issues/175) earlier this year.  Is there an ETA for this?  I would be happy to help.

[2017-09-26 20:08] BrandonZacharie commented on #246
@monkpow LGTM but I do see 1.0.7 as the latest release while NPM only has 1.0.6

[2017-09-28 12:52] monkpow commented on #280
@jehon closing this with  7387986 => [#272] Workflow step for modifying headers. (#287) userResHeaderDecorator

LMK how this works out for you.  Thanks for raising the issue.

[2017-09-28 12:52] #280 closed

[2017-09-28 12:53] monkpow commented on #272
@malliapi Hope this helps.   Thanks for raising the issue.

[2017-09-28 12:53] #272 closed

[2017-09-28 12:55] monkpow opened #288 "Upgrade to node 8.1; consider babel or deprecating old versions."

[2017-09-28 12:57] malliapi commented on #272
@monkpow Awesome!!! Thanks for this. I can now remove my workaround from the application.

[2017-09-28 13:04] monkpow commented on #284
Hey @OronNadiv, I like the general shape of this change, but I'm curious if you could help me by describing your use case.

The discussion you reference was one where we wanted to make the proxy host async.    It sounds like you would like to make the matching path async(?).

So, in my example:

[code]

resolving the proxy host is now handled async (and that's the discussion you're referring to)
y

[2017-09-28 18:23] btmurrell commented on #127
thanks so much for your solutions @mahyarmobilab.  I got yours to work with one important addition, setting `parseReqBody: false` on the proxy config when multipart.  So seeing it with your example as such:
[code]
At the time of my post, v1.x of this project is out, so readers make appropriate changes for [API-breaking v1 changes](https://github.com/villadora/express-http-proxy#upgrade-to-10-trans

[2017-10-11 06:32] jehon commented on #280
It helps !
Thanks you !

[2017-10-12 15:00] Diokuz opened #289 "Offline timeout (retrier)"
I have a case: all request are happening like that: browser → proxy → nodejs local server (on 3000 port). My local server could be offline (relaunching after source update), and I need browser-to-proxy connection to be alive (wait for relaunch). Instead I get instant
[code]

`timeout` parameter not working here.
Is there any way to solve my case?

[2017-10-13 16:41] jsammarco opened #290 "userResDecorator never gets called (Resolved - Status 304)"
The userResDecorator never gets called. I want to trim the response to clean up bad XML with a couple leading spaces. Maybe I'm doing something wrong? Here is my options object.
Thanks

[code]

[2017-10-13 18:43] jsammarco commented on #290
So I believe this is not an issue, I must have been getting a 304 because I added ?adsfasdfgasg to my request and got a 200 and now I see my console.log come through and I'm able to filter.
Thanks,
Joe

**My Code**
[code]

[2017-10-18 03:21] ulion commented on #28
That's sad, then I have to use https://github.com/chimurai/http-proxy-middleware

[2017-10-25 22:03] pselden opened #292 "Can I use a proxy for my proxy?"
I'm using this to proxy to some resources in my application that are internal to my company's network, but in order to access external resources, I have to go through ANOTHER proxy. Is there a way to tell this to use a proxy itself?

[2017-10-26 11:12] PrinceDavis opened #293 "How to proxy to a docker container from a docker container"
I am trying to proxy request (ws & http) from a docker container to other containers but its not working.

I am getting the following error

Error: connect EINVAL 0.0.35.40:80 - Local (0.0.0.0:0)
    at Object._errnoException (util.js:1026:11)
    at _exceptionWithHostPort (util.js:1049:20)
    at internalConnect (net.js:962:16)
    at GetAddrInfoReqWrap.emitLookup [as callback] (net.js:1098:7)

[2017-10-26 11:14] #293 closed

[2017-10-26 14:05] ankibalyan commented on #247
@monkpow @yaoyw0727  How can I alter the error response on timeout or proxy server is down?

[2017-10-31 09:21] cmal opened #294 "Does `express-http-proxy` support proxy request form a subdomain?"
Does `express-http-proxy` support proxy request form a subdomain, such as
`proxy('sub.www.google.com')`?

[2017-10-31 17:45] m7mdbadawy commented on #290
Is this the intended behavior? I had the same issue with `userResHeaderDecorator` and I used `skipToNextHandlerFilter` to change a header before sending response back

[2017-11-08 09:16] msohn opened #295 "missing tags for some releases"
It seems some of the releases mentioned in the release notes
https://github.com/villadora/express-http-proxy/blob/master/README.md#release-notes
weren't tagged, e.g. I cannot find 0.11 in
https://github.com/villadora/express-http-proxy/releases

Can you please fix this ?

[2017-11-13 11:05] bitsal commented on #221
I've noticed the same with `content-length` header.

**Version:** 1.0.7

[2017-11-13 11:28] bitsal opened #296 "Invalid host header for HTTPS proxy request"
**Version:**  1.0.7

**Case:**
I have an app running on `http://localhost:3000/api/data` using a proxy (configured with this library) to the api server like `https://domain.name/api/data`. By default, all headers are copied (except `content-length` as I mentioned [here](https://github.com/villadora/express-http-proxy/issues/221#issuecomment-343886520)) and `host` header as well (it is `localhost:3

[2017-11-13 16:53] monkpow opened #297 "maybeSkipToNext is undocumented."

[2017-11-13 16:59] monkpow commented on #289
Interesting.      There is no current code in place to handle this case on your behalf.

For the short term, I'd consider something like:

[code]

Where ```waitForServerOnline``` performs a health check for your local server -- which could be offline -- before proceeding on to the proxy functionality.

I'd consider a patch that makes this an opt-in feature for express-http-proxy;  this is not a fe

[2017-11-13 17:00] monkpow commented on #296
see option

[code]

Does this solve your problem outright?

[2017-11-13 17:06] monkpow commented on #292
@pselden I probably need a little more information about your case.    I'm not sure if you're talking about switching the target proxy server based on URL, or if you also want to run express-http-proxy on another server as well, or perhaps another case.    If you want to flesh out some more details, I'll try to help you with a solution.

[2017-11-13 17:15] monkpow commented on #290
It is the intended behavior.

[code]

Since 304 does not send a representation of the data back with it; instead signaling the client to use the prior response.      There are a couple of outstanding requests to break up decorateRes from decorateHeader, and so that might make @m7mdbadawy's case easier to handle, but is not part of the library today.

Open to more discussion on this, but hope this

[2017-11-13 17:16] monkpow opened #298 "split up handling for decorating user res body and user res headers"
Consider case 304 where there is no body to decorate, but there is a set of passed headers which may want to be operated on.

[2017-11-13 17:18] monkpow commented on #290
I've added #298 (https://github.com/villadora/express-http-proxy/issues/298) to capture this concern.   I'm going to close this thread, but feel free to reopen if you'd like to continue the conversation.

[2017-11-13 17:18] #290 closed

[2017-11-13 17:20] monkpow commented on #294
Yep.

[2017-11-13 17:20] #294 closed

[2017-11-13 17:31] bitsal commented on #296
This option was there from the beginning.

[2017-11-13 18:58] monkpow commented on #296
Agree, but I can't tell from this end if the existing option solves your problem or not.      It seems like you might be asking for a 'spoof' host header instead?

[2017-11-13 19:16] pselden commented on #292
My setup is such:

1) Client makes API requests to the same server that static files are hosted from: EX: /users/1, /posts/1
2) posts and users are actually small microservices hosted at different endpoints, so I am using express-http-proxy to route requests to the appropriate spot (I also apply some authentication logic in front of it. EX: /users/* gets proxied to http://users.mycompany.com/1 and

[2017-11-13 20:30] bitsal commented on #296
Yea, otherwise I have to make it empty or override it by the host of a proxied server (it is only in case of HTTPS).

[2017-11-13 20:31] bitsal commented on #296
I find myself thinking about making this option `false` :). I will check it tomorrow.

[2017-11-14 07:39] bitsal commented on #296
Checked. It didn't help.
[code]

`true` was before.

[2017-11-14 13:02] monkpow commented on #297
nope, its fine.

[2017-11-14 13:06] monkpow commented on #298
Released.

[2017-11-14 13:06] #298 closed

[2017-11-14 13:19] monkpow commented on #296
So when you say you think the library should take care of this, what would you like to happen?   It seems in this case you'd like to set a custom header on the proxyReq without having to be responsible for all the headers.   Am I on the same page with you?

[2017-11-14 13:24] monkpow commented on #296
I think you can simplify your example like so

[code]

This feels pretty lightweight to me as far as setting the host header to any value you want it to be.

I think the other chunk you're working with is for covering a different missing header?   Perhaps content-length?

Let me know what you think here.   I feel pretty about this as a solution to your host header request, and I'll address the con

[2017-11-14 13:28] bitsal commented on #296
Not custom header, well-known `Host` header. I would like to use this library and proxy HTTPS servers without copy-pasting code like above (where I set `Host` header to empty string).

It means with default configs my proxy can't work with HTTPS (what is a common approach to use HTTPS, except cases when a proxied server is hidden in private network or nobody cares about keeping it secure).

Yes, c

[2017-11-14 13:32] bitsal commented on #296
I can contribute if we are on the same page that it is really needed to be a default behavior.

[2017-11-14 15:17] monkpow commented on #296
Ok, so I appreciate the conversation, and I like where is going.    My question about custom is not about if ```Host``` is a custom header, but it seems to me that "" (empty string) is a custom local value/solution.     Are you suggesting that by default, host be set to "" (empty string) for all https proxies?     I'm a little unsure that this is a globally relevant solution, but would like to hea

[2017-11-14 15:30] bitsal commented on #296
Oh, of course, no. It should be set to a real proxied server host.

[2017-11-14 16:08] monkpow commented on #296
Ok, cool.     Do you have an idea of how the library would intuit or derive a real proxied server host?

By the way, I appreciate the offer to contribute;  I tend to not change the default behavior on minor or patch releases, so my current POV is that the feature be opt-in until the next major release.

[2017-11-14 16:21] bitsal commented on #296
e.g.
we have a configuration like this
[code]
`https://api.server.com` should be parsed and 'Host' header is set based on it.

[2017-11-14 16:49] monkpow commented on #296
Interesting.  Ok, thank you for the several steps of clarifying.    Let me chew on this a little bit;   I see what you're saying and I find this interesting;  I don't currently agree it should be the default option, but It seems reasonable to make it easy for an author flip a bit to make this happen.

[2017-11-14 17:16] monkpow commented on #221
Interesting.     Content-length is not copied (in either direction) because the author can modify the body.   When sending the user response, we compute content-length directly and re-add, but looks like we never did this for the proxy request.

[2017-11-14 17:18] monkpow opened #299 "[Feature request] Add content-length header back to proxy request after decorateProxyReq workflow."
We drop this header when copying headers (because the author can change the request body), but do not re-add it.

@bitsal

[2017-11-17 13:20] msohn commented on #295
ping

[2017-11-17 17:28] d0x commented on #292
I have the same problem. Would be nice if #286 gets merged

[2017-12-01 15:32] mitchellirvin commented on #127
@btmurrell I'm not seeing "parseBodyReq" in the options for express-http-proxy, but I'm seeing "parseReqBody", did it get changed? Also, it notes that: "Note that setting this(parseReqBody) to false overrides reqAsBuffer and reqBodyEncoding below", and I've noticed that we're still setting values for those two options even though they get overridden. I'm working with the code above to see what wil

[2017-12-04 17:47] bradleygore commented on #256
@monkpow I'm having a related (I think) issue... I'm trying to use the `proxyReqBodyDecorator` you mentioned but the value is not actually getting added to the request body that goes out to the proxy..

i.e. I'm sending this payload via postman: `{test: true}`

I'm then using this body decorator:
[code]

And here's the usage of the proxy:
[code]

But then when I dump the request within the API tha

[2017-12-13 13:55] mindej opened #301 "Is it possible to set to keep TCP/IP connections alive between proxy ant host?"
We have a flaky backend which has a bug in it. Can I configure the proxy to keep TCP/IP connections alive?

[2017-12-13 23:22] cmawhorter commented on #289
A thing to keep in mind -- node.js doesn't cache dns, which means there is no guarantee dns will resolve to the same endpoint from one http request to the next.

For example, consider if your target has RRDNS and only one of the hosts are down.

`waitForServerOnline` may resolve dns to an active node, but the second `proxy` could resolve to an inactive.  Or of course the opposite.

This is just a

[2017-12-21 21:18] hvalcourtSerdy opened #302 "https: false"
Hi,

is it possible to force https request to http request ?
I tried https: false but it's not working.

Thanks,

Hugo

[2018-01-04 16:53] johncade opened #303 "Is it to proxy to dev instance but still accept the requests in production?"
Hi, I have a production app and a devel instance that's sort of a testing ground. I'd like to be able to mirror incoming requests to production to our devel instance to test live loads on some new features. It looks like with `express-http-proxy`, I can install it on production and it could proxy requests to devel, but I dont want to use the results from devel, I still want to process the request

[2018-01-04 18:10] btmurrell commented on #127
sorry @mitchellirvin, i just noticed your comment.  you were correct, and i updated above. as for `reqAsBuffer` and `reqBodyEncoding`, found the need to set them as above when multipart.

[2018-01-07 09:22] sperlis opened #304 "Post data is not proxied to the server"
Hi, can someone provide an example of post data (request body) being proxies? I have tried multiple combinations of body parser and options, but it always fails.
Perhaps there is a combination I didn't think about (or that didn't seem to make sense, but it does).
Thank you!

[2018-01-23 11:56] notatestuser commented on #304
Did you get this working? Also having trouble with proxying a binary file upload.

[2018-01-23 16:43] monkpow commented on #304
Hi.   to my eye it is working as expected (with a caveat).   I suspect that @sperlis is missing a body parser.    I am working on some tests to demonstrate each of the cases, and found an unusual encoding issue for x-url-encoded forms, but in this case the body exists, but is 'double escaped'.

I will look at binary file upload separately, but feel free to describe your situation in more detail.

[2018-01-23 16:46] notatestuser commented on #304
It actually works for me with `parseReqBody: false`. I am doing a basic POST of an image with a `content-type` of `image/png`. I have two body parsers enabled: one for urlencoded forms and json.

[2018-01-23 16:51] monkpow commented on #304
yep, that makes sense.

[code]

[2018-01-23 16:54] notatestuser commented on #304
OK, but we might want to adjust the docs as it's not just large uploads affected but uploads of any size.

[2018-01-23 16:55] monkpow commented on #304
Right, thanks for that clarification.

[2018-01-24 18:30] andrewsosa commented on #127
@btmurrell I noticed you do `let contentTypeHeader = req.headers['content-type'];`, but then don't pass it into the `proxy()` call. Did you mean to use it?

[2018-01-29 10:37] NatsuStar opened #308 "browser get stucked after proxy"
I'm sorry for my poor English
I met a problem

https://localhost:8888 serves the pages and https://localhost:9999 provides interfaces
So I write proxy like this
[code]
The request starts with /CR forward to https://localhost:9999
It works,but when a interface form 9999 get stucked or response for nothing,the browser get stucked too, I can't click an a label or button and jump to another page
I gue

[2018-01-31 17:10] valorize opened #309 "Use userResDecorator in case of error"
Hello, I would like to respond with a json response when the server which I'm referring to is offline (`Error: connect ECONNREFUSED 127.0.0.1:8080`). I tried to use the userResDecorator for that. But it seems the function is not called when the request is rejected.
Should I use another approach to handle offline servers?

[2018-02-01 17:06] monkpow commented on #309
This connection error should be returned to you (next is called with the connection error as the argument err) so you can process it with an additional handler.

Perhaps you'd have something like:
[code]

[2018-02-01 17:11] monkpow commented on #308
Hi @NatsuStar,

There are many possible causes for your browser locking up, not all of them having to do with a proxy server.

Perhaps try watching in debug mode and see if that reveals any information.
https://github.com/villadora/express-http-proxy#trace-debugging

[2018-02-02 00:14] mauritslamers opened #312 "Peculiar responses when using userResDecorator?"
When using the userResDecorator function, I have trouble with proxying binary files, such as mp3, wave and PDF.
I am using the userResDecorator as proxied HTML files need a bit of url editing to work properly inside the client app which requests them.

Because the rest of the application runs fully through websockets and I only want to provide the proxy to authenticated users, I am using the filte

[2018-02-02 08:16] valorize commented on #309
Thank you for your response. I ended up with:
[code]

[2018-02-02 10:57] jaypillai opened #313 "proxy multipart form-data giving 400 Bad request response"
The request contains a text and a file,

------WebKitFormBoundarybzJ4GdzOM6IgmiJQ
Content-Disposition: form-data; name="file"; filename="dynamic-table.zip"
Content-Type: application/zip

------WebKitFormBoundarybzJ4GdzOM6IgmiJQ
Content-Disposition: form-data; name="testId"

c1f3a614-47e6-47fb-a220-0a82acfd7f57
------WebKitFormBoundarybzJ4GdzOM6IgmiJQ--

Node JS layer changes

`const isMultipartReq

[2018-02-02 14:46] mauritslamers commented on #312
I tried to bring it down to an simpler configuration, and I still have issues:

[code]

Whatever I do, the data gets corrupted when the link refers to a binary file, for example an MP3 or PDF. Chrome claims it cannot load the PDF. An MP3 will cause a greyed out player.

[2018-02-02 21:20] mauritslamers commented on #312
Closing this issue as my problems were caused by something completely else. Sorry for the trouble!

[2018-02-02 21:20] #312 closed

[2018-02-05 20:23] Tronix117 commented on #313
Same here, except I used `parseReqBody: false`

[2018-02-06 02:00] NatsuStar commented on #308
@monkpow Thank you so much,
I will try your advice。

[2018-02-06 10:26] #309 closed

[2018-02-08 11:32] Saegrov commented on #289
I had this exact same problem that I was trying to solve, and @monkpow's suggestion worked like a charm! Thanks!

[2018-02-08 17:07] bradkw opened #315 "large file downloads greater than 1/2 2^32 fail b/c of Invalid typed array length"
When downloading a file greater than 2147483648 the code throws this error:

[code]

[2018-02-13 11:08] astik opened #317 "Unified way to handle technical errors"
Hi,
Here is a "enhancement" proposal.

Modified into https://github.com/villadora/express-http-proxy/commit/63b981e0b0, we can find in app/steps/decorateProxyErrors :

[code]

The code handle the error and write directly into the response.

From https://github.com/villadora/express-http-proxy/issues/309, another way of managing error is proposed :

[code]

So, there are 2 ways to handle 2 errors (

[2018-02-13 22:32] anderslatif opened #318 "proxyReqPathResolver not intercepting as intended."
By looking at the documentation for proxyReqPathResolver it seems that you can specify some random proxy link (localhost) and use proxyReqPathResolver to intercept and return a modified link (google.com).

One would think that once the Promise has been resolved then the method will proxy to google.

This does not happen. It proxies to whatever is defined in the first parameter of proxy() and proxy

[2018-02-23 21:40] sharebooks opened #319 "Get 404 Not found error"
Create a express app and copy the following code, then got 404 error.

var proxy = require('express-http-proxy');
var app = require('express')();

app.use('/proxy', proxy('www.google.com'));

    at Layer.handle [as handle_request] (/AAA/gearup-proxy/node_modules/express/lib/router/layer.js:95:5)
    at trim_prefix (/AAA/gearup-proxy/node_modules/express/lib/router/index.js:317:13)
    at /AAA/gea

[2018-02-27 03:42] valleykid opened #321 "When the proxy forwards POST request will encounter the problem"
`http://localhost:3000/`(RealServer) forward to: `http://localhost:8000/`(ProxyServer)

When post `ProxyServer` with params `username=abc%40qqqq.com&password=123`, `RealServer` will get `{'{"username":"abc@qqqq.com", "password":"123"}': ''}`.

Like this:

![](https://user-images.githubusercontent.com/22310464/36641465-b13e5ede-1a6a-11e8-9b4c-eee2bc7ae0e5.png)

And real server:

![](https://user-im

[2018-03-01 17:43] MiteshSharma commented on #127
+1 for this request.
is there any way we can proxy multipart requests using multer and express-http-proxy? if not, any other suggestion for multipart file upload proxy.

[2018-03-01 20:55] mitchellirvin commented on #127
I ended up using [this] (https://github.com/chimurai/http-proxy-middleware) proxy instead. It handles multipart files swimmingly and was syntactically simpler:
[code]

[2018-03-07 06:33] Nina0408 commented on #319
Please try put below code at the end of your index.js.

app.use('/proxy', proxy('www.google.com'));

[2018-03-07 07:26] Nina0408 opened #323 "Get 404 error when sending http request to express server form react app"
Hi There,

My situation is:
1. React APP created by create-react-app, running on port 3000
2. express nodejs api service server, running on port 3001.
3. adding the proxy in express as below:
`const proxy = require('express-http-proxy')`
` app.use('/', proxy('http://localhost:3000'))`

so I will use http://localhost:3001 in the browser to visit react app pages.

The issue is:
The react app needs t

[2018-03-07 12:33] xFloooo commented on #318
@anderslatif it only works like this
[code]

[2018-03-07 14:36] anderslatif commented on #318
@xFloooo

Let's look at this example in the documentation just below your example:

[code]

[2018-03-07 18:16] radloori opened #324 "Self Signed Cert issue while making HTTPS request from HTTP (proxy)"
I am running client app on http and proxy on http, I am calling a https url from proxy server. I am getting
self signed certificate error even after using https: true [as per docs]
[code]
output:
Error: self signed certificate
    at TLSSocket.onConnectSecure (_tls_wrap.js:1042:34)
    at TLSSocket.emit (events.js:159:13)
    at TLSSocket._finishInit (_tls_wrap.js:639:8)

[2018-03-07 18:38] xFloooo commented on #318
@anderslatif
test example...

[code]

Turn on debugging `DEBUG=express-http-proxy` . Next, I'm sending a POST - request to /api/orders.
And everything works...

Example debugging log of this query
[code]

[2018-03-07 19:38] anderslatif commented on #318
@xFloooo

Thanks for taking a look at this.

I am following the syntax as in the tutorial since wrapping it in a const and saving the API_ROUTE in a config file doesn't help my use case.

So, here's what happens (like it did when I first opened this topic a while ago. I forgot it when I replied).. it goes to localhost:12345 which is just a temp address. It does not substitute the temp address with

[2018-03-13 03:36] jamesabc commented on #226
I had this issue when adding a body to a request that was originally empty.  Adding the missing header
[code]

in `proxyReqOptDecorator` was the solution

[2018-03-15 15:18] monkpow commented on #323
@Nina0408 I think I need more information to be helpful.   I would often be looking for misconfiguration or expectations in this kind of case.

It looks to me from your log output that ```express-http-proxy``` is picking up the request, and appears to grok the path.   My first step would be to look at the logs for your server running on app on port 3000 to understand why it is returning 404 for th

[2018-03-15 15:19] monkpow commented on #323
I'm going to mark this closed, but feel free to re-open and continue the conversation.

[2018-03-15 15:19] #323 closed

[2018-03-15 15:33] monkpow commented on #318
@anderslatif @xFloooo The documentation is dead wrong.   I'm sorry for creating this confusion.   In this library, the path represents the portion of the url *after* the host.     This documentation shows that you can alter the *host* with the ```proxyReqPathResolver``` method, and that is incorrect.

Rather, the *host* is resolved via the first argument, and not in the options.

e.g.

[code]

Apo

[2018-03-15 15:53] monkpow commented on #318
@anderslatif I've updated the docs with the following.   Would love your read on if this is clear and helpful

[code]

[2018-03-15 15:56] anderslatif commented on #318
@monkpow

First of all, thank you for confirming to me that the documentation is wrong. I'm relieved.

Your addition to the documentation is good. I already knew that this was possible.

Did you understand my use case, though? I have a dashboard where I dynamically access all the running node processes on the server. Depending on what user I've clicked into it calls the app.use on path ("/proxy/:u

[2018-03-21 14:45] monkpow commented on #318
@anderslatif I need some additional information about how this case is different than the ```selectProxyHost``` function in the example above;    you can have this function evaluate on each request, and its passed the current req object.    It *seems* like this satisfies the case you are describing -- I think you would do the lookup in ```selectProxyHost``` and return the resolved host --- but per

[2018-03-21 14:53] monkpow commented on #319
I get
[code]

[2018-03-21 14:53] #319 closed

[2018-03-21 15:00] monkpow commented on #317
@astik Thank you for the thoughtful analysis, and I like the outcome you've proposed.

This feels correct to me:
* error shoul be forward to next without processing, so that it will rise out of the library's code and into developer's code.
* allow authors to opt-in to this behavior (because of legacy expectations)

[2018-03-21 15:43] lorenzoridolfi opened #325 "HTTP 2.0"
Is there any plan to support HTTP 2.0?

Best Regards,
Lorenzo

[2018-03-25 13:18] algaly commented on #127
Hi mitchellirvin,
do you have an example code for this upload?
Thanks

[2018-03-26 09:17] Kouga00 opened #327 "Request obj in host param"
Hello,
is it possible to access to request object in host param like this?

const proxy = require('express-http-proxy');
proxy((req, res) => req.proxyUrl)

[2018-03-26 13:17] monkpow commented on #327
When the host argument is a function, that function is passed the req as the first and only parameter.
[code]

I'll update the docs.

[2018-03-28 05:44] anderslatif commented on #318
@monkpow
I had to find some time to test it. I'm back.

proxyReqPathResolver looks like this:

[code]
The function takes the request as the parameter. If I were to do it without proxyReqPathResolver it would look like this:

[code]

This will of course fail cause req is not defined. I can only know the port number after having looked it up by getting the username first.

Does it clear up the use c

[2018-03-29 07:37] aryeharmon opened #328 "how do i reverse proxy"
i need to proxy using same host

[2018-04-05 16:57] codegagan commented on #324
Getting the same error, is there any workaround ?

[2018-04-05 21:40] gstroup commented on #324
The easy (but insecure) workaround is to add this environment variable:

`process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";`

https://stackoverflow.com/questions/10888610/ignore-invalid-self-signed-ssl-certificate-in-node-js-with-https-request

[2018-04-06 04:56] codegagan commented on #324
Found a way without setting it to environment level. Example below

[code]

[2018-04-11 18:28] lghamie opened #330 "Get resData in userResHeaderDecorator"
I'm trying to modify a header based on the data that comes from the backend.

Is there any way to get the proxyResData in this method?

[2018-04-12 18:52] scr4bble commented on #177
Hi guys, any update on this ? I am experiencing the same issue.

[code]

[2018-04-12 19:19] scr4bble opened #331 "How to disable the gzip feature ?"
There is quite ugly issue https://github.com/villadora/express-http-proxy/issues/177 affecting the gzip feature described in readme.
**Is there any way to disable the feature?** It kills whole application.

The steps how to suppress the error is described in [zlib's official documentation](https://nodejs.org/api/zlib.html#zlib_compressing_http_requests_and_responses). Please let me know if I can h

[2018-04-12 19:43] scr4bble commented on #331
Maybe I have solved it temporarily by deleting 'Accept-Encoding' header in request, so gzip should not be called when intercepting the response.

[2018-04-13 19:46] lghamie commented on #28
No support for this?

[2018-04-18 13:28] monkpow commented on #330
This use case makes sense, but is not supported today; e.g. there's no way to get to proxyResData inside this function.     I'll add it as a feature.

[2018-04-18 16:17] canbakis commented on #127
@mitchellirvin I also tried http-proxy-middleware but we needed proxy for prod. So I tried @btmurrell's solution and it works. Thanks.

[2018-04-18 20:41] mitchellirvin commented on #127
@algaly I'll get back to you with the boilerplate for the file upload that I ended up using.

[2018-04-19 03:21] fuquanlin opened #333 "Why does form submit become json?"
**when I use express http proxy as follow**
    filter: function (req, res) {
        var whiteList = req.url.match('^/wx/weixin')
            || req.url.match('^/wx/fans')
            || req.url.match('^/wx/app')
            || req.url.match('^/wx/css')
            || req.url.match('^/wx/font')
            || req.url.match('^/wx/img')
            || req.url.match('^/wx/js');
        if (whiteList

[2018-04-19 07:12] fuquanlin commented on #162
I meet same problem. How should i fix it? or any work around solution

[2018-04-19 12:17] DanielMSchmidt opened #334 "Feature Request: Server Sent Events"
Hi there,

I would like to use this library in a mock server I am writing & first of all I would like to thank you for all the effort you put into this.
I need to be able to proxy server sent events (also referred to as EventSource by the browser) and I would be willing to do a PR for this. I would like to discuss if there is a way how this project already supports these kind of events that I have

[2018-04-20 16:14] monkpow commented on #334
@DanielMSchmidt Thanks for such a well-written feature request.   I'd be happy to take a look next week, or to accept/review a PR.

[2018-04-20 16:16] monkpow commented on #334
Can you also post the code for your proxy request (probably something like
[code]
)?
Thanks!

[2018-04-20 16:28] monkpow commented on #317
@astik I think this is sorted.   Hope this helps, and thanks for bringing it to my attention.

[2018-04-20 16:46] astik commented on #317
Sounds perfect.

In the meantime, sorry to not have done anything on the code and let you do all the work ='(

[2018-04-21 09:48] astik opened #336 "Using skipToNextHandlerFilter to true still triggers the express-http-proxy pipeline"
Hi,
i'm not sure if how understand correctly how skipToNextHandlerFilter works. But here is what i think about it :

- if set to false (default behavior) : express-http-proxy pipeline is triggered (copyProxyResHeadersToUserRes, then decorateUserResHeaders, then ...)
- if set to true : express-http-proxy pipeline should be interrupted, regular express pipeline should be triggered

As every express-

[2018-04-21 09:50] astik commented on #336
Also, on another note, when using "skipToNextHandlerFilter to true", we go back to the regular express pipeline but we lose all the context from express-http-proxy. For example, we lose the proxy response error code which can be very useful to have a fine error handling.

[2018-04-21 09:54] astik commented on #317
After trying to stick the new version in my code, new problems arose (stil, express-http-proxy works as expected =P).
Following #336, i'm trying to have a unified error handling at the highest level.
With the solution you propose in the latest release, error is managed at proxy instance level, not at express level.
It would be great to have a way for the error code to get out of express-http proxy

[2018-04-21 18:34] #317 closed

[2018-04-25 15:34] mitchellirvin commented on #127
[code]

[2018-04-29 11:41] jabaa commented on #245
I have the same problem. My proxy is:

    var express = require('express');
    var router = express.Router();
    var bodyParser = require("body-parser");
    var proxy = require("express-http-proxy");

    router.use('/api', function(req, res, next) {
      console.log(req.body);
      next();
    });

    router.use('/api', proxy('db:3000'));

and my server is

    var express = require('expre

[2018-04-29 12:46] jabaa commented on #245
I found the difference and the problem. Postman sends by default with Conent-Type: 'application/x-www-form-urlencoded'. jQuery sends by default with Content-Type: 'application/x-www-form-urlencoded; charset=UTF-8'. When I change Content-Type to 'application/x-www-form-urlencoded', it works. That means, that express-http-proxy has a problem with Content-Type: 'application/x-www-form-urlencoded; cha

[2018-05-02 21:28] denizozger commented on #162
Resolved with @adamrisser's suggestion, thanks.

[2018-05-02 21:28] #162 closed

[2018-05-03 16:44] TerrySlack commented on #222
Has this feature been setup.  I have tried to setup 2 different proxies, and it will only fire on the first one it encounters.

[2018-05-14 07:11] jazoom commented on #255
I had the same confusion. Possibly don't use google.com as the example?

[2018-05-23 08:44] rajan471 opened #338 "Not getting User details attached by Passport JS in request."
I am authenticating user before proxing it to some other server. I am authenticating using passport strategy and it adds user details in req.user.

Please suggest a way to get req.user on the other server in request object.

[2018-05-25 04:45] lijod commented on #226
@jamesabc 's answer partially works for me. The issue is when the source request itself contains 'content-type' header, the body is not passed along. Any suggestions?

[2018-06-12 09:02] wangerniu opened #342 "request url parsed error"
hi, i face such problem when mock data by express-http-proxy in my express app.

for example.
my mock url is `www.data-mock.com/user/5kvKxctecc00208a0?url=`

[code]

my order is proxy request from `/api/user/login` to `www.data-mock.com/user/5kvKxctecc00208a0?url=/api/user/login`. but the params in mock url has been ignored.since, it proxy to 'www.data-mock.com/api/user/login'

that's all .

waiti

[2018-06-25 20:32] murphyke commented on #297
Where is it documented? I see it alluded to briefly in the README, but I don't see any signature or example.

[2018-06-26 13:18] WaldoJeffers opened #344 "pipe does not seem to call .end()"
Hello,

I spent a (very) long time trying to debug a weird issue I have with `express-http-proxy` (great lib btw). Basically, all my proxied calls end up in 400 Bad requests. Going through the source,  the line giving me trouble is [this one](https://github.com/villadora/express-http-proxy/blob/master/app/steps/sendProxyRequest.js#L67). If I replace this with `proxyReq.end()` everything works well

[2018-06-30 13:29] monkpow commented on #342
Hi @wangerniu,

Thank you for this report.
When using `proxyReqPathResolver`, you'll need to construct the whole url, including the query string.
In this method you have access to `req.url` and `req.params`.

For your case you might have something like:
[code]

[2018-06-30 13:41] monkpow commented on #342
see the docs here:
https://github.com/villadora/express-http-proxy#proxyreqpathresolver-supports-promises

Best of luck.

[2018-07-03 19:37] monkpow commented on #344
Thanks for filing this issue.  This seems serious.   I'm looking into it.

[2018-07-03 20:36] WaldoJeffers commented on #344
Thanks @monkpow let me know if I can help

[2018-07-03 20:46] monkpow commented on #342
Closing this, feel free to re-open if you want to continue the discussion.

[2018-07-03 20:46] #342 closed

[2018-07-03 20:48] monkpow commented on #338
see https://github.com/villadora/express-http-proxy#proxyreqoptdecorator--supports-promise-form

[2018-07-03 20:48] #338 closed

[2018-07-04 12:17] tet4enko opened #351 "invalid progress state in file upload"
I need upload file with displaying progress:

[code]

`express-http-proxy` code:

[code]

**PROBLEM:**

According to the `progress` event on client, file uploaded vary fast. That is, an event that already has loaded N bytes from N, is triggered very quickly.
BUT, the request still hangs, and `onsuccess` is called much later. (on my 16mb file – acrosss 10sec)

Tell me how to do it to get the real u

[2018-07-05 17:52] monkpow commented on #336
@astik Thanks for reporting this issue.    I'll look into it this week, but how you've described it sounds correct, and I believe there is likely a bug here.

[2018-07-06 07:08] wangerniu commented on #342
thanks!

[2018-07-07 16:27] alexblack opened #352 "Error: userResDecorator should return string or buffer as data"
I'm specifying a `proxyReqBodyDecorator`, which *doesn't* do any decorating, instead it logs the request, and returns the `bodyContent` it was passed:

[code]

For requests that are GET requests for a static PNG, I get this error:

[code]

[2018-07-07 16:32] alexblack commented on #352
hmm, I think this might be my issue.. closing for now.

[2018-07-07 16:32] #352 closed

[2018-07-14 22:53] NathanielHill opened #353 "Specify slash is required to match"
In setting up proxy routes, I noticed `app.use('/r', proxy(...))` and `app.use('/r/', proxy(...))` seem to behave the same. They both match `/r**`, however I only want the pattern `/r/**` to match. Am I missing a way to specify this without having to create a custom filter function?

[2018-07-20 03:03] haizaar opened #354 "Where to plug in an auth?"
Good day,

I need to implement a custom auth proxy based on tokens that arrive from clients. The auth itself is quite simple - I just need to verify that token exists on the tokens server that runs near by the proxy.

Looking at the documentation, it looks like the way to do it is to pass `filter` function that will do token verification in my case.

Is this an intended use for `filter` function o

[2018-07-26 11:45] davidsteinberger opened #355 "Hook to clean proxy.res.headers"
I'm faced with a server that responds invalid header data.
`copyProxyResHeadersToUserRes()` copies all headers over and throws an exception.
I did not find a way to intercept that (note `decorateUserResHeaders()` runs after, the exception happens during the copy into res).

Is there a way to to modify the raw response before `copyProxyResHeadersToUserRes()`is run?

[2018-07-31 11:13] dre4success commented on #354
You can always pass the auth as a middleware. Just remember to next() from your auth middleware
[code]

[2018-07-31 11:37] haizaar commented on #354
Thank you!

[2018-07-31 11:37] #354 closed

[2018-08-01 16:00] midzelis opened #356 "No easy way to prevent streaming"
I would like to prevent streaming so that I could cache the proxy response for a short while. (Using something like this...)

[code]
As written, this handler doesn't work, since it overrides the `send()` method, but by default, http-proxy uses streaming. I can override by setting a fake `skipToNextHandlerFilter`, but it would be nicer if I could just explicitly set `stream` to false in the options

[2018-08-01 20:52] austince opened #357 "Bug: Protocol is taken from the host, not the request"
Hi there, thank you for your great module. While investigating some issues I'd been having with a proxied service, I noticed that the protocol was being determined by the host, not by the request.

https://github.com/villadora/express-http-proxy/blob/master/README.md#https

I looked at how the module is chosen, and found this:
https://github.com/villadora/express-http-proxy/blob/2800cc080fb3176f7a

[2018-08-02 18:35] chan1600 opened #358 "proxyReqBodyDecorator does not pass modify body to api url"
proxy.js
[code]

api.js

[code]

This is my code to proxy to localhost:4000

From  console.log(JSON.stringify(bodyContent)) of proxy.js , I can see the correct bodyContent which I had modified. However, in api.js, I still receive empty body inside req.
proxyReqBodyDecorator does not pass the modified proxyReqBodyDecorator

Result of console.log(JSON.stringify(bodyContent)) from proxy.js

`{"file":

[2018-08-02 21:50] austince opened #359 "Bug: Content Length set incorrectly for GET requests"
The content length is set to `2`, even though there is no body. I've tracked this down to the `proxy.bodyContent` being set to an empty object, which is then translated to `"{}"`. This makes the requests invalid according to the HTTP spec, or so I'm told by a large company that has started rejecting these requests as malformed.

[2018-08-03 01:53] austince commented on #359
Fixed this by setting the `parseBody` option to false, though I still believe that it should be either:
a) enforced by default
b) empty bodies should be translated to `""` instead of `{}`
c) GET requests should automatically override this to `""`

[2018-08-06 16:37] monkpow commented on #359
Thanks for this report, I'll look into it.

[2018-08-06 17:38] monkpow commented on #355
You're right, there is no elegant way to handle this today.   You could probably check in the `skipToNextHandler`, and throw back to your express 500 handler (or whatever is next()), but I'm guessing this does not match your use case.

This seems like a reasonable workflow step to add; it might take a little while for this to rise to the front of my priority level, but I'm happy to accept a patch

[2018-08-20 13:57] aczekajski opened #360 "Support for brotli"
Currently, if remote server returns response encoded with brotli algorithm (and sends header `content-encoding` set to `br`), the library does nothing to the response which is passed to `userResDecorator`. In effect, user must manually decompress it and compress it back before returning it from the callback function.

How about adding suport for brotli into express-http-proxy?

Compressing and dec

[2018-08-21 10:35] eljefedelrodeodeljefe commented on #358
same for me

[2018-08-31 00:23] siva-vadivel opened #361 "FeatureReqeust: Pass the control back to the express server upon success"
When express-http-proxy is used as a middleware and we would like to know certain metrics such as timeTakenForResponse, we would need to be able to pass control back to the express server.

- Traditionally this is done by calling 'next()' to return control.

[2018-09-04 15:08] 20matan commented on #127
Hey
i had the same issue, and what solved the error for me was moving the body parser middleware declaration under the proxy declaration

so if you had
[code]

change it to
[code]

[2018-09-06 17:50] siva-vadivel commented on #361
userResDecorator is executed right before sending the response to the user, however we would like to pass control bask to express after sending the response. One suggestion would be to call the express's next() method inside userResDecorator, but once next() is called, we would not be able to know when the response was completed (especially in the case of streaming responses)

[2018-09-10 08:41] samuelg0rd0n opened #363 "Is it possible to use IP address and port as a host?"
Is it possible to use IP address and port as a host? Like this:

`app.use('/api/*', proxy('95.23.240.12:3020'));`

I keep getting 400 http response :(

[2018-09-13 09:44] KidkArolis opened #365 "Memory leak"
We've experience a serious memory leak issue when using this package. This was only introduced in some version >=0.8, with ^0.7 it used to be fine.

We haven't found the root of cause and I don't have a reproducible example, if it helps, we've used the following options:

[code]

<img width="679" alt="image" src="https://user-images.githubusercontent.com/324440/45480507-105ba980-b741-11e8-8534-aaf

[2018-09-14 07:38] NoahCardoza opened #366 "[Help] proxyReqOptDecorator not setting headers"
As per the documentation, I believe this should work:

[code]

It doesn't seem to be setting the `Authorization` header correctly because I am reciving a `401` code from the server.

Am I missing something?

Thanks!

[2018-09-17 16:53] hartzis commented on #321
#322 fixed this issue for us and it looks like this issue can be closed.

Could you update the release notes to include this in the `v1.2.0` as i had to find this fix within the commit log. Great work and thank you!

[2018-09-19 03:40] InvertedX opened #368 "How to capture outgoing request with parsed body"
is there any way to intercept request body ?

[2018-09-19 18:47] monkpow commented on #366
What happens when you log out the headers on the server side?    Are you getting this 'Authorization' header, and is the value what you expect?

[2018-09-19 18:50] monkpow commented on #368
Did you try this? https://github.com/villadora/express-http-proxy#proxyreqoptdecorator--supports-promise-form

[2018-09-19 18:50] #368 closed

[2018-09-19 18:50] monkpow commented on #365
@KidkArolis Thanks for this.   I'll dig in.

[2018-09-19 20:55] monkpow commented on #363
Hi @samuelg0rd0n,

I *think* this works.  I added a test to show it works as I expect.    Feel free to add more details about your case if you think i'm off.

Thanks

[2018-09-19 22:34] monkpow commented on #361
Ok, @siva-vadivel and @mx781,  thanks for raising the issue, and the discussion.

See commit above;  I fixed the skipToNextHandler, and added the expressHttpProxy res and req to the user.res so you can read the proxy res and req values.

[2018-09-19 22:35] monkpow commented on #336
#361 fixed here

[2018-09-19 22:44] #336 closed

[2018-09-19 22:44] #361 closed

[2018-09-19 22:59] monkpow commented on #357
@austince Thanks for noticing this and bringing it up.   First step is I corrected the docs so that doesn't trip someone else up.    I'm gonna leave this open for a minute, though, and think through if this is how it *should* work.

[2018-09-19 23:11] monkpow commented on #353
the route matcher is express (e.g. `app.use('/r', ...)`, so you'd want to look to express routing to figure out why both patterns are matching.    For what its worth, I'm surprised about this.    Let me know if you figure out anything interesting.

[2018-09-19 23:11] #353 closed

[2018-09-20 14:33] simono opened #374 "`filter`: Changed signature in 1.4.0"
In Version 1.2.0 the signature of `filter` was: `filter: function(req, res)` as documented in the [README](https://github.com/villadora/express-http-proxy#filter).

In 1.4.0 [this changed](https://github.com/villadora/express-http-proxy/blob/master/app/steps/filterUserRequest.js#L13) to `filter: function(proxyReqOpts, srcReq)`.

Was this change intentionall?
If so, I can send a PR with an updated

[2018-09-21 05:19] NoahCardoza commented on #366
How exactly would I do that?

At the moment I am just passing all of the needed arguments to axios to "proxy" the request, but I would very much like to use this module instead.

[2018-09-23 04:42] lzl124631x opened #375 "how to preserve the url?"
Example:

[code]
This will redirect request to `/api` to `process.env.SERVER_URL/`, but I want it to be `process.env.SERVER_URL/api`.

[2018-09-24 16:51] monkpow commented on #375
This is how the library behaves today.   Take a look at the following for a solution
https://github.com/villadora/express-http-proxy#proxyreqpathresolver-supports-promises

[2018-09-24 16:52] monkpow commented on #375
I think this will answer your question.  Feel free to re-open this if you’d like to discuss further.

[2018-09-24 16:52] #375 closed

[2018-09-24 17:10] monkpow commented on #366
Well, I don’t know much about the server you are talking to, so I can’t help with how to debug on that machine.

Here’s what I notice.   The tests for setting the headers are passing, and many authors are using this feature.   My expectation is that tge library is pretty much behaving as expected.

In your example, you’re constructing the header from a string and an environmental variable.  If you

[2018-09-25 06:59] ShawnBaek opened #376 "Sub path is not working..."
I have a simple question.

Is this library support sub path?

I want to access json data using url like below

`https://public-api.wordpress.com/rest/v1.1/sites/uxengineer.wordpress.com/posts`

[code]

I tried to access `http://localhost:3000/api/posts` but It is not working
[code]

I changed like below and It works fine

[code]

This is working fine...

`http://localhost:3000/api/rest/v1.1/sites/

[2018-09-26 17:54] chrisbutler opened #377 "TypeError: Cannot read property 'user' of undefined"
when returning false from `skipToNextHandlerFilter`:

[code]

this is the only function in my `proxy()` call... why is it trying to do something with `.user` trying to call https://github.com/villadora/express-http-proxy/blob/master/app/steps/copyProxyResHeadersToUserRes.js???

[2018-09-30 17:57] whitebob opened #379 "The interface design may make the reverse proxy hard to implement."
Suppose i want to use the request path as arguments  to find out the matched one of the  proxy addresses to localhost with different port numbers.  There are lots of ports and they follow some rules, thus we do not want to write each proxy as `app.use('/xxx/yyy',proxy('localhost:nnn'))`

In this situation, the host resolving process should be after the request parsing, and the host address is unkn

[2018-10-01 22:33] alan345 opened #380 "Keep user Ip after proxy"
Hello!
Thanks for this awesome repo!
Quick Question, How can I keep userIP.
before the Proxy, I have
[code]
then
`app.use('/api', proxy('http://localhost:4000/'))`
and on my server Port 4000,
I have:
[code]
Thanks for your help!

[2018-10-01 23:02] alan345 commented on #380
solved (https://stackoverflow.com/questions/52573770/keep-user-ip-after-using-pipe-in-express/52599982#52599982). (let me know if you have a better approach!)

If I use a proxy (https://github.com/villadora/express-http-proxy):

    var proxy = require('express-http-proxy')
    app.use('/api', proxy('http://localhost:4000/', {
      proxyReqOptDecorator: function(proxyReqOpts, srcReq) {
        pr

[2018-10-01 23:02] #380 closed

[2018-10-02 14:42] mg opened #381 "accessing proxy headers in userResHeaderDecorator"
Hi,

userResHeaderDecorator is confusing me. Im trying to access a header value that was set in proxyReqOptDecorator before sending the request but I do not understand how to access it.

In userResHeaderDecorator(headers, userReq, userRes, proxyReq, proxyRes), proxyReq is ALWAYS an empty object ( console.log outputs {}) but if I console log proxyRes I can see the value I want, but it is burried in

[2018-10-02 16:03] chrisbutler commented on #374
this will break the package for anyone using filters, and since 1.2 to 1.4 is a minor version, package managers like `yarn` will update to 1.4 quietly in the background, and wreak havoc

definitely need a fix for this ASAP

[2018-10-03 06:52] lzl124631x commented on #375
@monkpow Thanks.

Do you know why
[code]
won't work?

The `proxyReqPathResolver` is powerful but not very handy. Maybe we can absorb some easy config pattern from https://webpack.js.org/configuration/dev-server/#devserver-proxy

[2018-10-06 03:54] ram2104 opened #382 "server set cookie isn't available."
Browser is not able to get cookie set the proxied response. Request reaches from load-balancer to our node server, further from that node-server we proxy forward to other port. While handling request in other port we set an cookie to "res" object. These cookie aren't going forward to original browser who has invoked for the call.

It seems cookie is getting lost.

[2018-10-09 13:10] hawkng opened #383 "post data is not proxied when use with body-parser"
router.use(bodyParser.urlencoded({ extended: false }));
 router.use(bodyParser.json());

router.post('/site/*',middlewares,  proxy(....

if use in the sequence above, the post data is lost and never reach the proxy server

It works only if bodyParser is removed.

[2018-10-09 14:08] aduh95 commented on #374
Workaround for those using `yarn`, in `package.json`, add this:

[code]

It will freeze the package version which is not ideal.
This is clearly a breaking change, it should have been pushed to a semver major IMHO.

[2018-10-10 02:18] hawkng commented on #383
solved by converting the data into query string using 3rd party query-string as follows:
Have tried JSON.stringify but not working

proxyReqBodyDecorator: function(bodyContent, srcReq) {
          return (queryString.stringify(bodyContent));
        }

[2018-10-10 02:18] #383 closed

[2018-10-15 10:02] zhoujiejava opened #384 "Why are my static resources 404?"
Why are my static resources 404?

var proxy = require('express-http-proxy');
var express = require('express');
var app = express();

app.listen(23333);

app.use('/proxy', proxy('http://demo.xxx.io:3000',{
    proxyReqOptDecorator: function(proxyReqOpts, srcReq) {

        return proxyReqOpts;
    }
}));

[2018-10-19 18:29] monkpow commented on #381
Hi @mg,

It makes sense this is confusing; the documentation is very sparse!   I will update the docs and clarify the issue you've raised about proxyReq being empty.

Thanks for raising this issue.

[2018-10-20 11:11] cainvommars commented on #365
We also observe bigger memory issues since using this module. Right now we can't rule out our code to cause the trouble.

@KidkArolis What kind of app are you running there? How may requests are going through the proxy?

[2018-10-20 13:00] KidkArolis commented on #365
@cainvommars It was an api gateway, can't say for sure but probably around 100,000 requests in 2 hours would fill up the memory and the process would crash. We were only using userResDecorator for intercepting errors and changing the response body, not for succesful response modification, but that meant buffering and synchronously unzipping and rezipping each proxied response. As you can see in th

[2018-10-23 19:29] kaysond opened #387 "Modifying responses without buffering the entire response"
Modifying responses using transform streams offers much better performance than buffering the whole response. So I wrote a connect/express middleware that makes it easy to do so. The module overwrites the `response.write()`, `response.writeHead()`, and `response.end()` methods, and instead first pipes the response through various streams (including decompression and compression, if necessary) that

[2018-10-30 14:51] murphyke commented on #374
@villadora If you can declare here what you plan to do, it could help developers plan.  At the moment, the safest approach is to lock at 1.2.0.

[2018-10-30 15:34] monkpow commented on #374
@murphyke @simono @chrisbutler @aduh95 Whew!  Thanks for this.

It looks like I had two different short circuits on my brain in this one.

1) I should have made a major version upgrade to make this change.
2) Its not clear to me now that passing `proxyReqOptBuilder` to this function has any value, since it will be undefined at this point in the code.

So, I think both of these need to be resolved,

[2018-10-31 15:50] monkpow commented on #374
I'm going to call this a defect, and fix it on the next minor line.    Feel free to comment on the MR, and I will plan to push a new minor with this fix on it tomorrow (unless there is additional discussion).

[2018-10-31 18:03] chrisbutler commented on #374
@monkpow so e.g. version `1.5.0` will have the fix/revert for this function?

that sounds reasonable to me. could/should also unpublish/deprecate version `1.4.0` on npm

[2018-10-31 18:22] monkpow commented on #374
|| so e.g. version 1.5.0 will have the fix/revert for this function?

Correct, that's my current plan.

|| could/should also unpublish/deprecate version 1.4.0 on npm

Thanks for this tip.   I'll think this through.

[2018-11-06 16:55] iamdey commented on #377
same error here.

it looks like it has been fixed in master branch https://github.com/villadora/express-http-proxy/commit/8bac3fe097942cefcb2aaa2066325795257b9cab#diff-9e1003fee59d85fd09e57b0ed288d192

but not yet released

/cc @monkpow

[2018-11-06 18:34] monkpow commented on #374
Resolved.  Thanks for your help with this.

[2018-11-06 18:35] monkpow commented on #377
I just published a new version with this fix.     Let me know any questions, thanks.

[2018-11-06 18:35] #377 closed

[2018-11-07 10:01] iamdey opened #390 "`next()` is called twice when using skipToNextHandlerFilter"
after the fix for #377 I saw a 404 error poping in my case.

I suppose it is due to the reject which calls `next` here https://github.com/villadora/express-http-proxy/blob/master/app/steps/maybeSkipToNextHandler.js#L15

and here https://github.com/villadora/express-http-proxy/blob/master/index.js#L56

With only 2 routes are defined, it results in a 404 error since the second one might not be finis

[2018-11-07 16:20] matthieusieben opened #391 "Converting circular structure to JSON because of debugger"
The following line
[code]
causes a `TypeError: Converting circular structure to JSON` when defining a custom `agent`. This is probably due to the internal implementation of `require('http').Agent`.

You should rather use `require('util').inspect` instead of `JSON.stringify`

[2018-11-07 17:18] monkpow commented on #390
@iamdey Thanks for this report.    I suspect your analysis is on point.   Could you elaborate -- ideally with sample code -- on the case 'With only 2 routes are defined'?     I'll write to test to capture this case with the fix.

[2018-11-07 22:41] iamdey commented on #390
quick 'n dirty, I try reproduce my use case (It might be simplified but you have the thing):

[code]

[2018-11-13 20:20] shah2nkhan opened #392 "Unable to get request object in proxyErrorHandler"
Looks like there is  no way to find the reqeuset object when the proxy server error thrown
Example
 proxy server (main server) is down now i want to return data from my db or cache service for partial offline mode.

Actually i have a post payload which defines certain behaviour

[2018-11-14 16:21] monkpow commented on #391
Hi @matthieusieben, thanks for the report, happy to make this update.   Can you give me a sample chunk with a custom agent that fails so I can pin this down with a test?   Thanks.

[2018-11-14 16:26] matthieusieben commented on #391
[code]

[2018-11-14 16:38] monkpow commented on #391
Thanks!

[2018-11-14 17:10] monkpow commented on #391
Huh.  So I pushed the following (https://github.com/villadora/express-http-proxy/pull/393) which just has the tests, and I'm having trouble replicating the issue even without the fix applied.

I'm running the tests on CI right now to get information about if its environmentally related.  Could you also provide detailed information about your environment?   e.g.,  which version of node, express, de

[2018-11-14 17:19] matthieusieben commented on #391
- Does the proxyTarget "server" respect the keep-alive header and keeps the connection alive ?
- You may need to run two requests before it fails (so that the agent has one "alive" internal connection)

[2018-11-15 20:16] devalexqt commented on #327
Doc not updated!

[2018-11-16 12:08] devalexqt commented on #284
For my case, I need check DB by requested file ID, and select proper host for proxy to server where file is stored.

[2018-11-23 11:38] AxelTerizaki commented on #379
I haven't tested it out yet, but I might have a solution to your issue.

If you managed to find a solution on your end I'd love to hear it.

What I want to achieve is that people get assigned a subdomain name and depending on this subdomain, they are getting redirected to a specific port on the machine.

I use the `vhost` npm package for the vhost part.

[code]

I have yet to test this out, my onl

[2018-11-29 21:20] egee-irl opened #394 "Same data, multiple targets?"
Is it possible with this proxy to receive data on a single port and send it to multiple proxies? Or is that outside the scope of this project?

[2018-12-05 14:50] whitebob commented on #379
Thanks for your reply. Currently I use http-proxy directly, because it makes me able to write like this:
`apiProxy.web(req, res, {target: 'http://127.0.0.1:'+port})` . and I can figure out the port i want by using
`port=calculate_port(req, policy)`

[2018-12-10 21:20] eladbs opened #395 "Error when proxied request takes more than 2 minutes (and solution)"
Nodejs internal http request default timeout is set to 2 minutes.
This creates an error with proxy requests that takes more than that.
Let's say I setup proxy like this:
[code]
What will happen is that the proxied request will fail to complete because nodejs internal default timeout is set to 2 minutes. node will cut the request and will return a failed response to the client.

Solution: need to s

[2018-12-19 16:53] matthieusieben commented on #391
Any news on this? `1.5.0` is not usable with a custom `agent` option.

[2018-12-21 17:19] maxstrauch commented on #284
I really need this feature, so I created a PR with the relevant changes. There are only three places which are changed. So could one of the project owners please merge this into the master and publish it to npm so that I can use the module normally?

[2018-12-31 16:24] tomlarkworthy opened #397 "How to debug?"
Hi I am trying to use the code in a serverless environment where I do not have control over the node VM arguments. How to I print out when the proxy request url and headers are?

Seems like you have the functionality in the trace debugging module, how to I get that to print to console.log? I am stuck doing surgery to proxyReq ATM, and its not at all obvious where the body and URL is.

[2019-01-01 18:45] monkpow commented on #397
Hi @tomlarkworthy.    Interesting.

The expected use is to set an environmental variable to trigger debug logging to stdout (what I think you mean by console.log).

[code]

I think you are saying that in your environment, you can't set environmental variables?     If this is correct, what kinds of messages can you send to the software?    How would you like this to work?

Thanks

[2019-01-03 15:20] nadavamami opened #398 "Get request returns immediately with bad request"
I have a service that acts as a gateway using the proxy to call all relevant services, for some reason all get requests are returned immediately with bad request, if i change the call from the client to post it works fine, also when i check the services without the proxy the get requests works fine.

Thanks,
Nadav.

[2019-01-04 03:41] emersonsoares commented on #397
@tomlarkworthy in can just set `DEBUG=express-http-proxy` as an environment variable to your serverless function. It's possible at least in Azure Functions and AWS Lambda.

[2019-01-07 21:12] #398 closed

[2019-01-10 12:46] erplsf commented on #376
Can confirm this is also an issue for me.

[2019-01-11 10:22] matthieusieben commented on #391
The proper implementation is actually this one: #400

[2019-01-18 22:20] luciomartinez commented on #11
How to set CORS:

    app.use('/', proxy('www.target.domain', {
        userResHeaderDecorator: () => ({'Access-Control-Allow-Origin': '*'})
    });

Just leaving this here in case someone else enters into this ticket wondering how to do it.

[2019-01-29 17:09] SpaceboyRoss01 opened #401 "Using a discourse socket"
Do I need to put the path of the discourse socket which is at `/var/discourse/shared/standalone/nginix.http.socket` as the first argument?

[2019-02-07 15:04] georgepaoli opened #402 "How to use basic auth?"
Hi,

How to use basic authentication i.e. 'user:password' in a proxy?

Like a 'auth' option of https://github.com/nodejitsu/node-http-proxy#options

Thanks.

[2019-02-11 09:58] chalcedonyt commented on #359
Thanks for fixing this @brumar

[2019-02-20 03:55] acgpiano opened #403 "How to remove a response header?"
If I want to remove X-XSS-Protection header, how to do it? I try to remove it from proxyRes but it doesn't work. I don't want to set like X-XSS-Protection: 0, I just want to remove it, thanks!

[2019-02-20 04:13] scaddenp opened #404 "Proxy <script> urls??"
using default express generator project, I add
const proxyPath = url.parse('http://localhost:8080/mapservice').path;
app.use('/mapservice', proxy('http://localhost:8080/mapservice', {
    proxyReqPathResolver(req) {
        const reqPath = url.parse(req.url).path;
        return [proxyPath, reqPath].join('/');
    }
}));
 to app.js

I change index.html to add the following into the header.
  <scri

[2019-02-26 19:21] auahmed commented on #330
just wanted to check if there is any update on this? 😄 or if you see this happening in the near future

[2019-03-01 14:19] rhm-fyayc commented on #390
I am facing the same issue pointing by @iamdey .

In my case, I am trying to make a call again in case the first call returned a 401 due to a not valid access token anymore.

skipToNextHandlerFilter in myOptionsWithCachedToken is like this:

[code]

I am getting 404 as a response even with the changes done in #390

https://github.com/villadora/express-http-proxy/commit/c5660c22e607700f1d1d8a002262

[2019-03-05 19:53] dsgn1graphics opened #405 "Update DefinitelyTyped definition"
The latest version of type definitions does not include the latest proxy options. Please update, it currently prevents Typescript from compiling.

[code]

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/645ebcf42116b3c1be5b7f2d319275c35b8040c7/types/express-http-proxy/index.d.ts

[2019-03-11 08:03] sayax opened #410 "limit not working"
app.use('/proxy', proxy(`http://localhost:8080`, {
  limit: '10mb',
}));

file i'm uploading not more than 5 mb.

limit not working whatever value is passed.

always responding with 413 Request Entity Too Large

[2019-03-12 12:26] raphaeleidus commented on #403
in my experience you have to actually remove the header from two different objects in order to get it to be removed. Code sample below.

[code]

[2019-03-12 12:33] raphaeleidus commented on #402
basic auth just generates an HTTP Header. You should generate the authorization header for your user:password combination and then just insert that.
there are sites like this one that can do it for you: https://www.blitter.se/utils/basic-authentication-header-generator/

[2019-03-12 23:32] georgepaoli commented on #402
Thank you @raphaeleidus

[2019-03-12 23:32] #402 closed

[2019-03-14 07:46] acgpiano commented on #403
@raphaeleidus  Thanks a lot! But it doesn't work for me, you can remove these headers just in this object. When the program run into userResDecorator you still can see the header in raw-headers object, not headers, I finally removed it in userResDecorateor and it worked.

[2019-03-14 09:51] raphaeleidus commented on #403
Ugh I made a mistake
[code]

The other this is that my code sample assumes that the proxy is returning the all lowercase version of the header. When you use `.removeHeader` it is case insensitive but the headers object passed to the function is case sensitive

[2019-03-14 10:06] acgpiano commented on #403
It's not about case sensitive, I use String.toLowerCase() to handle this but it still not work, if you checkout nodejs original HTTP response, you can see it really removed from headers property, but still in another property named raw-headers. The raw-headers finally returns to the browser. I just don't know why I use removeHeader in userResDecorateor method can work.

[2019-03-15 00:19] #403 closed

[2019-03-20 11:09] pawlowskim commented on #127
@mahyarmobilab Thanks, wrapping proxy and calculating dynamically `parseReqBody` works

[2019-03-21 16:11] valecarlos commented on #256
`proxyReqResolver` is not documented, has it been deprecated? it seems that only doing:
[code]
Won't work, the `newAddedParam` is not sent to the target.

What's the ideal way to solve this?

[2019-04-04 21:28] lindsaykwardell commented on #410
I'm having the same issue.

`server.post("/api/*", proxy(process.env.API, {
    limit: "10mb"
  }));`

I'm using Typescript, which is reporting that the key 'limit' doesn't exist on the ProxyOptions object.

`Argument of type '{ limit: string; }' is not assignable to parameter of type 'ProxyOptions'.
  Object literal may only specify known properties, and 'limit' does not exist in type 'ProxyOptio

[2019-04-09 11:27] alexandervain commented on #365
For us using this lib in a combination with a custom Node's `domain`-based middleware triggered an insane memory leak (seems to be `domain`'s fault though - could be related to https://github.com/nodejs/node/issues/23862).
We used:
 - `Node`: `10.15.3`
 - `express-http-proxy`: `1.5.1`
 - `express`: `4.16.4`

This code reproduces the issue:
[code]

Workaround (simplified) that worked for us - the c

[2019-04-09 17:07] lindsaykwardell commented on #410
My issue appears to be resolved, and was just related to the Typescript typings for ProxyOptions. I wrote my own typing, and limit worked fine.

[code]

@sayax, are you still having an issue?

[2019-04-11 20:32] theraw opened #411 "possible to follow redirect?!"
Hello,

so i have this app running on `127.0.0.1:8080` which also uses a simple auth requires user/password and after that it will redirect to `127.0.0.1:8080/page.html` so after login i got `Cannot GET /c9web` is this because this pr doesn't follow redirects or something else went wrong?!

Thanks

[2019-04-11 20:37] theraw commented on #411
btw i tried smth like
[code]
which logins automatically when i open in browser when i user this `proxy(` it doesn't login :/

[2019-04-11 20:53] theraw commented on #411
nvm it must be something else so i'm closing this since it has nothing to do with this repo from a kind of debug thing got only this

[code]

[2019-04-11 20:53] #411 closed

[2019-04-13 06:03] theraw commented on #411
just if anyone got same problem. the problem was here

if you do

[code]
it will try to get a single page and it will ignore style or other static/dynamic content

for best run you can do

[code]
since express supports wildcards means every path will be automatically forwarded.

[2019-04-13 06:17] theraw commented on #404
can you try
[code]
if you add /mapservice at the end of proxy i think url will try like `/mapservice/mapservice/`
so you don't need to add it just write your proxy with port, you can also do smth like wildcard
[code]
https://github.com/villadora/express-http-proxy/issues/411#issuecomment-482779872

[2019-04-17 17:12] mrryanjohnston commented on #376
I experienced this issue, too, but I think this may be a misunderstanding with how `express-http-proxy` works. The idea is that you can forward a given path to a given host. Any subpath after that specified path will be added to the host request. For example, doing `app.use('/foo', 'http://google.com'` will proxy requests to just `http://google.com` when the user goes to the route `/foo`. However,

[2019-04-26 14:56] murphyke opened #412 "Strange behavior fixed by setting parseReqBody to false"
I'm posting this in case it helps anybody. I also suspect there may be something a little off in `express-http-proxy`, but I don't have time to determine if that's true or not.

I am putting my proxy in between an Elasticsearch client and Elasticsearch. Currently the proxy is merely logging the requests and responses without making any modifications.

With the default value of `parseReqBody` (`tru

[2019-05-01 20:36] darewreck54 commented on #405
any update on this?

[2019-05-02 13:41] monkpow commented on #405
@darewreck54 @dsgn1graphics As far as I can tell, this is an issue for the maintainers of  DefinitelyTyped: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/645ebcf42116b3c1be5b7f2d319275c35b8040c7/types/express-http-proxy/index.d.ts

If you think there's something I can do on my side to resolve the issues with the DefinitelyTyped lib, feel free to reopen this.

[2019-05-07 20:26] ulrichb opened #413 "[DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated in Node.js 12"
Causing line:

https://github.com/villadora/express-http-proxy/blob/5bada09cca1567cbb69a6ec3a637f6457f9e9495/app/steps/decorateUserResHeaders.js#L6

See [Node docs.](https://nodejs.org/api/deprecations.html#deprecations_dep0066_outgoingmessage_headers_outgoingmessage_headernames)

[2019-05-07 20:30] ulrichb commented on #413
Can be fixed by switching to [`getHeaders()`](https://nodejs.org/api/http.html#http_response_getheaders). (Available since Node 7.7.0)

[2019-05-08 23:45] kevinclarkneudesic commented on #405
If this library  was written in TypeScript or put out it's own definitions then the community wouldn't need to maintain them.  The DefinitelyTyped is just a repo of definitions but the community members do it because in this day and age it sucks using a library without TypeScript definitions.  I found other inconsistencies with the definitions so guess I won't be using this library.

[2019-05-13 21:37] elijahcarrel commented on #127
I took @btmurrell's code which was a modified version of @mahyarmobilab's and added further changes that I think others might find useful/simpler. I am running express-http-proxy v1.5.1 and this works for me.
1. I changed `proxyMiddleware` so that is no longer a thunk. (A thunk is a function that takes no input and just returns a value for the purpose of delaying its execution-- however in the cod

[2019-05-21 11:27] karungithub opened #414 "Is it possible in some cases the proxyReqOptDecorator is not called"
Seems strange but in this case the DEBUG proxyReqOptDecorator  is not being called. Here is code:

/ API Proxy
        server.use(
            '/ams/',
            proxy(
                `https://amz-gateway.ausmpc01.pcf.dell.com/`,
                {
                    proxyReqPathResolver (request) {
                        console.log(':::AMS API Call', '/ams' + makePathFromRequest(request));

[2019-08-12 13:34] dman777 commented on #413
I am hitting this also

[2019-08-12 23:49] DullReferenceException opened #418 "Documentation clarification"
One thing isn't super clear in the docs. For the `proxyErrorHandler` section it says:

What isn't clear is whether you can bypass that `ECONNRESET` behavior by providing a custom `proxyErrorHandler` or if you can only customize error handling for everything _but_ `ECONNRESET`.

[2019-08-23 14:21] FirstVertex opened #419 "404 on every proxy attempt"
Getting a 404 on every attempt to proxy.  Can you please help troubleshoot?

`app.use('/api/primary', proxy('https://dev-data.autorecalls.io/api/v1'));`

When I attempt to hit url `/api/primary/reseller/user-name/Tom?pageSize=100` I expect it to proxy to `https://dev-data.autorecalls.io/api/v1/reseller/user-name/Tom?pageSize=100`

I set `DEBUG=express-http-proxy` environment variable.  Here is the

[2019-08-23 18:20] hughanderson4 commented on #419
After close inspection it looks like the path on the remote server `/api/v1` is not making it into the final url.  Is that not supported?

[2019-09-01 03:43] ConnorWhite commented on #413
Fixed with https://github.com/villadora/express-http-proxy/pull/420

[2019-09-01 08:22] nickwinger opened #421 "+ sign in x-www-form-urlencoded not working"
Hello,

when you use the + sign in a FormData of a Post request the proxied destination does not receive the + sign but an empty space character.
I use x-www-form-urlencoded to receive a token from an endpoint, my proxy code is very simple:
`const functions = require('firebase-functions');
const app = require('express')();
const proxy = require('express-http-proxy');
const nodemailer = require('no

[2019-09-01 15:45] ConnorWhite commented on #284
https://github.com/villadora/express-http-proxy/pull/420 fixes this.

[2019-09-02 11:34] JKnorr91 commented on #421
Hi,

had the same problem with + and & chars.

Solved it with simple url encode:
[code]

[2019-09-07 10:07] nickwinger commented on #421
@JKnorr91  Thank you, works perfect for me, but still this issue has to be fixed in the library itself, so i leave the defect open. I mean whatever the library changes, it's weired because the body should be sent like the original, and i already have encodeURIComponent in my Javascript-Frontend-Source-Code

[2019-09-11 16:55] LoganGore opened #422 "typo in as.js getting flagged by automated scanning tools"
The typo here for the body encoding misspelling is getting flagged by Coverity scanning tools.
https://github.com/villadora/express-http-proxy/blob/master/lib/as.js#L15

[2019-09-17 08:03] sandeepraheja opened #423 "Does it work with http/2?"
Does it support http/2

[2019-09-20 13:18] Farfadh opened #424 "skipToNextHandlerFilter"

[2019-09-26 13:29] monkpow commented on #422
@LoganGore Thanks!

[2019-09-26 13:33] monkpow commented on #419
@hughanderson4 You are using `https://dev-data.autorecalls.io/api/v1` as your host argument; the library parses this argument for a host.   You'll want to look at https://github.com/villadora/express-http-proxy#proxyreqpathresolver-supports-promises to work with the path (e.g /api/v1).

Hope this helps.

[2019-09-26 13:34] monkpow commented on #419
Feel free to re-open if you want to discuss more.

[2019-09-26 13:34] #419 closed, assigned to nobody

[2019-09-26 13:34] #413 closed

[2019-09-26 14:07] austince commented on #295
Is it possible to bring this issue back up? It would be great if tags published on npm were also tagged and released here on GitHub.

[2019-09-26 15:51] wibobm opened #435 "Missing for tag 1.6.0"
npm version 1.6.0 is not tagged.

[2019-09-30 14:06] austince opened #436 "Semantic-Release Integration"
Hi there,

Thanks for creating/ maintaining this package! I'm wondering if you would accept a PR that integrates [semantic-release](https://github.com/semantic-release/semantic-release) to take some of the release cycle burden off. The flow would involve adopting a commit message convention and then automatically releasing from Travis CI when code is merged. If you'd prefer to keep a bit tighter c

[2019-10-01 09:36] vraimentres opened #437 "dynamic parseReqBody option by request"
Can you make the options which expect boolean value such as `parseReqBody` can also have a boolean-returning function as value?

like this:
[code]

[2019-10-02 11:28] okezieokpara opened #438 "Proxy to google maps API not working"
Hello, I am trying this library for proxying to google maps api. This is my setup:

`router.get('/api/google', (req, res, next) => proxy('https://maps.googleapis.com', {
	proxyReqPathResolver: (req) => `maps/api/geocod/json?key=${GOOGLE_MAP_KEY}=6.42533,+3.4148205064377684&language=en-GB`,
	proxyReqOptDecorator: (proxyReqOpts, srcReq) => {
		proxyReqOpts.headers['x-forwarded-for'] = ''
		proxyReqO

[2019-10-07 17:12] austince commented on #436
Just documenting the issues that would be solved by this:
- #295
- #435

[2019-10-08 19:22] yaizudamashii commented on #438
Yeah Google doesn't seem to work.

I've tried
`app.use('/google', proxy('https://www.google.com', { preserveHostHdr: true }));`
which yields bad certificate crash,

I've also tried
[code]
to ignore the certificate, but then I get the same error as you got.

Has someone figured this out?

[2019-10-25 23:33] maxpshaw commented on #376
@ShawnBaek you can use proxyReqPathResolver to add include the fixed path, so when you send a request to `http://localhost:3000/api/post`, it will become `host + fixed path + your request url (which does not include the /api)`

[code]

[2019-10-31 11:01] kwang2014 opened #440 "Is there a way to set https agent for proxy?"

[2019-11-12 08:09] tantan1 opened #441 "Is any way to support http connection keep-alive?"
Is any way to support http connection keep-alive?
When I use proxy, I want proxy connection can keepalive.

[2019-11-12 08:14] kwang2014 commented on #440
Without Keep-alive agent, this proxy will cost more than 600ms for each request. This cause a serious performance issue.

[2019-11-25 13:01] emirotin commented on #360
I can send such PR as well @villadora if you're up to cooperate and get it reviewed/merged. It's an important feature to have because Brotli it getting its popularity and normally things work transparently (the same way this lib does work for gzip)

[2019-11-25 13:24] monkpow commented on #360
I'd be happy to accept a PR for Brotli support that includes tests.

[2019-12-01 13:47] emirotin commented on #360
@monkpow https://github.com/villadora/express-http-proxy/pull/443

[2019-12-18 07:25] itm-platform opened #444 "Change status response 405 to 200 to avoid CORS on OPTIONS method"
Hi there.
I'm running in CORS 405 Method not allowed that I'm trying to bypass this this proxy. Can I change the 405 Response Status from the server to a 200 to the client?
The API server is returning a 405 status on every OPTIONS preflight request (GET with token header or POST with any payload).
I tried all these options
- I have tried changing Origin and Referrer to match the API server with pr

[2019-12-30 20:12] austince commented on #435
It seems like the npm package with the 1.6.0 tag keeps being re-published as well.. not inspiring hope and a little nervous about who is doing the pushes/ why.

[2020-01-02 03:38] danitt commented on #412
Can second this, `parseReqBody` was causing CloudFront 403 issues for us, disabling did the trick 👍

[2020-01-02 03:43] danitt commented on #412
for anyone interested in investigating further, have narrowed the issue down to this conditional:
`express-http-proxy/app/steps/sendProxyRequest.js:43-71`

might be the "proxyReq.end()" on 67 causing troubles

[2020-01-03 23:20] bluelovers opened #445 "[request] allow cache proxy request"
hope can allow cache `GET`, and a `filter` function for control other cache or not

like this
https://www.npmjs.com/package/axios-cache-adapter

[2020-01-08 05:20] NeuronButter opened #446 "A quick questio"
Hi there!
I'm trying to see if you can use the proxy to forward it to YouTube.com, but nothing appears to be loading.
Here's my current code:
[code]
All that appears is this
![image](https://user-images.githubusercontent.com/33238007/71952406-acf96300-3232-11ea-9d5c-b7161340a6fe.png)
Is there a specific header that YouTube looks for that knows that it's being given through a proxy? Thanks

[2020-01-15 20:19] skasidej opened #447 "Trouble with "proxyReqPathResolver""
Right now I'm trying to resolve everything from localhost:2000 to localhost:3000/blog. But only the first entry page localhost:3000/blog is being resolved automatically, not like the other pages.

**For example**
localhost:2000 should be resolved as localhost:3000/blog which works fine
localhost:2000/welcome should be resolved as localhost:3000/blog/welcome, but it's not

Here is my code, even wit

[2020-01-16 08:11] #447 closed

[2020-01-27 11:36] dbauszus-glx commented on #318
Has this ever been resolved? I have a similar problem where I need to provide proxies to different services via a proxy endpoint. The proxy url including domain is provided in the request.

[2020-01-27 11:43] dbauszus-glx commented on #318
Request maybe like `myservice.com/proxy?url=https://mapbox.com/getdata?key=mapbox` or  `myservice.com/proxy?url=https://google.com/getdata?key=google`

The proxyReqPath resolver will replace the key with an access token stored as an environment variable in the middleware. This works for one domain but I cannot get to set the domain itself from request query parameter.

[code]

[2020-02-03 09:46] nocturnesound opened #448 "Is it possible to proxy websockets?"
Hi
Is it possible to proxy websockets?

[2020-02-03 19:13] #318 closed

[2020-02-04 01:10] john-kurkowski commented on #412
Link: https://github.com/villadora/express-http-proxy/blob/ad94d320390735157133e405969161d82c6ab58d/app/steps/sendProxyRequest.js#L40-L68

[2020-02-11 12:17] tnguyen14 commented on #152
@radixhound how did you fix that issue?

[2020-02-11 15:43] #435 closed

[2020-02-11 16:26] radixhound commented on #152
@tnguyen14 It's been a while so I can remember well the details but the problem was that a different package (body-parser) was behaving badly. The data wasn't JSON but it was trying to parse the data anyway and clearing the data out. We probably explicitly bypassed body-parser for form encoded data by looking at the mime type. Either that or we removed body-parser and used a different method for p

[2020-02-12 14:44] RobertoMSousa commented on #234
Hello @monkpow .
I'm trying to implement a circuit breaker with opossum around a proxy request. Is this feature available or still under dev?

[2020-02-26 17:37] ogiexela opened #450 "proxyErrorHandler not triggered"
I am not getting my proxyErrorHandler being called when proxied server response with an error.

If I sent timeout:1  like you do in your tests then the proxyErrorHandler gets called.

[code]

my proxied server replies with some errors

[code]

[2020-02-26 19:49] den-kip opened #451 "Connection refused error"
I am trying to make an api request to another host in a different docker container like this:

    app.use('/api/tasks', proxy('http://tasks-service:5002/api/tasks'));
but am getting a connection refused error:

    "err":"connect ECONNREFUSED 172.21.0.6:5002"

How do I access the tasks-service routes in users-service container?

[2020-02-27 01:45] alexandcote commented on #451
I don't think this is an issue with this library.

[2020-02-27 08:31] webberig opened #452 "Add support for retries"
We use express-http-proxy in an API gateway that proxies requests to microservices behind the firewall.

We've been having an issue where rare random requests are failing due to a DNS error `getaddrinfo EAI_AGAIN`. While this error is not related to express-http-proxy, someone suggested we would add a retry mechanism. PHP-HTTP, Guzzle, node-fetch, ... all seem to have solutions (with or without ex

[2020-03-04 09:01] cuongluu8 opened #453 "delete header in userResHeaderDecorator"
Is it possible to delete a header in `userResHeaderDecorator`?
I can set it to null or "" by doing `headers["x-my-secret-header"] = "";`, but ideally I wouldn't want this header to be surfaced in the browser at all.

`delete headers["x-my-secret-header"];` doesn't work.

UPDATE:
[code]
so `headersToReturn` will not contain this header, but it seems that it will still be returned in the actual resp

[2020-03-04 10:55] cuongluu8 commented on #453
So it seems that you also need to explicitly remove the header from the `userRes`
`userRes.removeHeader("x-my-secret-header");`

Not sure if this is expected behaviour or a bug.

[2020-03-16 10:46] joebnb commented on #444
same problem

[2020-03-16 10:50] joebnb commented on #444
i think it caused by cors request,make sure your request in same origin,if your request wasn't a simple request

[2020-03-18 19:02] aczekajski commented on #424
Can we have any development on this? The bug is still here. Now matter how many middlewares you put between first and second `proxy`, if first one passed control to the next middleware, when second `proxy` is reached, it skips to the next middleware. And it won't even run any of the options passed to the second proxy:

[code]

[2020-03-20 01:40] joebnb commented on #444
in my case is other problem caused it, i was fixed that

[2020-03-25 13:42] psilva21 commented on #448
@nocturnesound  I wanna know too. Did you find some solution to it ? in my case I'd like to proxy to an internal server in the local network  and maybe intercept the response before sends to the client.

[2020-03-25 14:13] psilva21 commented on #448
@nocturnesound  I found another lib that helps proxy ws. take a look at [https://github.com/chimurai/http-proxy-middleware](http-proxy-middleware)

[2020-03-25 15:29] nocturnesound commented on #448
I use http-proxy now with option **ws: true**

[2020-04-24 09:34] sagargg opened #454 "GET request sends empty request body."
There shouldn't be a empty request body when the request is GET.

[2020-05-12 01:55] alanyong91 opened #455 "ors"

[2020-05-19 09:21] grapevineai opened #456 "Unable to access locals in proxy functions"
I am using the `res.locals` to pass variables from a middleware (https://expressjs.com/en/api.html#res.locals) but some proxy functions (such as `proxyReqOptDecorator` and `proxyReqPathResolver` ) don't give access to the `res` parameter.

What is the recommended way to pass variables from a middleware to a proxy?

[2020-05-19 20:01] matthewadams commented on #289
I just found this issue for a slightly different reason, wondering if @monkpow could comment.  We're using `express-http-proxy` to proxy requests to a server that requires authentication.  The access token used for the `Authorization` header may not yet have expired, but for whatever reason, it's been invalidated within the proxied server (say, for example, because of a "log out all session" or si

[2020-07-06 11:13] maydrori commented on #450
@ogiexela I have the same issue. Did you find a solution?

[2020-07-20 22:13] monkpow commented on #456
Hi @grapevineai,
Sorry for the long delay in responding. Let me know if you are still interested in this topic and I'd be happy to chat about this.

[2020-07-21 02:16] monkpow commented on #456
Without more details, I'd propose this is due to an intention design decision; to avoid cross talk between steps and between the host application and the module to the greatest degree possible. In other words, each workflow step intentionally only exposes the fields the 'step' expects to operate on.

`proxyReqOptDecorator` and `proxyReqPathResolver` both accept user defined functions, so you can s

[2020-07-21 02:16] #456 closed

[2020-07-21 02:18] monkpow commented on #455
I feel inspired by the brevity of this report. Feel free to re-open if you feel there is more to discuss.

[2020-07-21 02:18] #455 closed

[2020-07-21 02:24] monkpow commented on #454
Hey @sagargg, thanks for the feedback. Do you want to elaborate a little bit?

[2020-07-21 02:34] monkpow commented on #453
Thanks for the report @cuongluu8. As you describe it, this is unexpected. Let me write a couple of tests and see if I can reproduce.

[2020-07-21 02:53] monkpow commented on #453
This is a defect. I am able to reproduce and have a failing test. I should be able to fix this shortly. Thanks again for the report.

[2020-07-21 03:42] monkpow commented on #453
I believe this is closed with #461

[2020-07-21 03:42] #453 closed

[2020-07-23 08:57] Yavorss opened #462 "Skip proxy"
Hello, by documentation has a filter fictionality
[code]
But this filter only rejects the request, how can I pass the request normally and only in some cases they to be proxy. Thank you!

[2020-07-27 09:53] Nikhilnair48 commented on #127
Thanks @mahyarmblb, your solution is working splendidly four years down the line. Also keeps the code clean :)

[2020-08-02 20:54] sscarduzio opened #464 "Responding immediately to client without forwarding to proxy"
Sometimes, for a certan combination of method, path, header, I would like to bounce back the request BEFORE it's forwarded to the server.

I'm no sure where to create this response object,  and how to return it so that the request never reaches the server.

I.e.

[code]

[2020-08-06 10:56] #462 closed

[2020-08-08 15:10] Domiii commented on #360
Workaround while we are waiting for @monkpow to merge @emirotin's PR 👯‍♂️

[code]

[2020-08-21 06:07] cdsbarreraBooklick commented on #312
Hi @mauritslamers , What were the issue? I am experiencing a similar situation.

[2020-08-24 14:11] cdsbarreraBooklick commented on #312
It was a mistake in the certificate for https, Thank you @mauritslamers

[2020-08-27 08:34] zhangzs000 commented on #323
you can try to use
app.get('/', proxy('http://localhost:3000'))
or
app.all('/', proxy('http://localhost:3000'))

[2020-09-22 07:05] eladbs opened #465 "How to distinguish between headers of proxied response to those of the original response object"
Hi,

Is there a way in the ```userResHeaderDecorator``` to distinguish between headers of the proxied response to those of the original response object?
Is there a way to make sure that some headers are not overriding those in the original response?

For i.e. let's say I have CORS module enabled on the route - it will put the header ```access-control-allow-origin``` in the response object.
if the

[2020-09-29 18:03] arminrosu commented on #440
I ended up doing:

[code]

As referenced in a very old issue: https://github.com/villadora/express-http-proxy/issues/56#issuecomment-226399113

HTH

[2020-10-06 19:29] RALGIE opened #467 "Proxy session not assigned"
Hello,
I have the following proxy assigned:

[code]
When I connect to http://localhost:3000/catalogigraphql The graphql playground is visible but I'm constantly redirected because the req.session.passport.user; is not assigned("NOT LoggedIn" is logged to the console). When I navigate to a route that doe not proxy req.session.passport.user; is assigned.

What is the cause why the session is not ass

[2020-10-08 11:50] Cyben opened #468 "memoizeHost doesnt work"
Hey, this is my code:

var proxy = require('express-http-proxy');
var app = require('express')();

function coinToss() { return Math.random() > .5 }
function getHost() { return coinToss() ? "http://localhost:8080" : 'http://google.com' }

app.use(proxy(getHost))

let PORT = 4444

app.listen(PORT, () => {
    console.log("listening on port " + PORT)
})

as you can see I followed your example about

[2020-10-08 11:56] Cyben commented on #468
Never mind, I'm closing this.
the problem was that I forgot "()".
this:
app.use(proxy(getHost))
should be changed to this:
app.use(proxy(getHost()))

It's better to update the documentation so others won't fall on that as me.

[2020-10-08 11:56] #468 closed

[2020-10-15 19:55] #467 closed

[2020-11-04 18:51] mct-dev opened #470 "Support non-strict JSON body (number)"
Currently, when _not_ treating a request body as a buffer, the `Content-Length` header is set in `prepareProxyReq` by the `bufferOrString` method.

![image](https://user-images.githubusercontent.com/18542061/98155288-d69f0d00-1e8a-11eb-9eac-376937711d64.png)

When a request contains a JSON body with a number value, such as `12345`, this method (`bufferOrString`) will return `undefined` instead of

[2020-11-11 06:52] dalalayan1 commented on #403
@acgpiano @raphaeleidus - i tried the same it doesnt work at all.
I want to somehow stop the file download by deleting a header. But I am unable to delete it.

`userResHeaderDecorator(headers, userReq, userRes, proxyReq, proxyRes) {
    console.log("\nRES HEADERS => ", headers);
    userRes.on('data', function(data) {
      // var `data` is a chunk of data from the response body
      console.log(

[2020-11-12 09:38] eydunn commented on #421
[code]
and somewhere

[code]

[2020-11-12 17:52] lancegliser opened #471 "Self-signed certificate directions result in TypeScript errors"
Reference: https://github.com/villadora/express-http-proxy#q-how-to-ignore-self-signed-certificates-

As of this issue, it states:
[code]

`proxyReqOpts` is defined by `import { RequestOptions } from "http"`;
Which does not have a `rejectUnauthorized` option.
That option actually exists in: `import { RequestOptions } from "https"`

[2020-11-19 11:39] gman-76 opened #472 "Setting Content-Type header in sendProxyRequest when parseReqBody throws exception"
Not sure why this has started happening now but line 61, setting the Content-Length header started throwing:
Error: Can't set the headers after they are sent.

For now I commented this line to get package to function as expected.

Simply setting parseReqBody to false in options does not work because then there is some issue in closing the request so seems the .write(body) or .end() calls are requi

[2020-12-04 03:14] Irenedan opened #473 "Question upload file after proxy"
I try to use the form-data in the body to upload file, but it looks like that I can't get my req information after proxy

[2020-12-09 12:46] Irenedan commented on #473
@ktonon Hello, Does express-http-proxy support multipart form data and file uploads? Is anyone working on it?

[2020-12-11 04:19] sagargg commented on #454
Closing as Invalid. Looks like this is already resolved.

[2020-12-11 04:19] #454 closed

[2020-12-28 09:54] praneetha-ck-robo opened #474 "proxyReqBodyDecorator with multipart form data"
How to use proxyReqBodyDecorator when dealing with multipart formData?
 If it would be a normal json request, the following code would work. But when dealing with formData inside the proxy, how do you modify and send the same?
[code]

[2020-12-31 11:49] williamchong opened #475 "A empty JSON body is always set when proxying GET request"
Situation: I am proxying to a server with google load balancer, which does not accept GET request with any body.
I observed that even if I did not set any body in my original GET request, the proxied request always contain a empty JSON object body `{}` , which causes a HTTP 400 from my load balancer.

A sample failing test case, the request body always contains `{}`
https://github.com/williamchong

[2021-01-04 13:00] crisguitar commented on #293
how did you fix this? @PrinceDavis

[2021-01-04 14:03] crisguitar opened #476 "Cannot proxy requests to another service within docker-compose"
I created a proxy that works fine when running outside of a container but as soon as I try with docker compose I get 504 for all my requests:

    const backendUri = process.env.BE_URI || "localhost" // either localhost or api in case of docker-compose

    app.use(
      baseUri,
      proxy(`http://${backendUri}:8081`, {
        proxyReqOptDecorator: (proxyReqOpts, srcReq) => {
          // do s

[2021-01-07 14:26] hpl002 opened #477 "Do not terminate request after proxy response. Add option to pass proxyResponse to next middleware"
A feature that is missing from most proxy middleware that i have seen, and it is driving me crazy.

Response is currently terminated after proxy. I simply want to pass it along the good ol middleware stack and end the response later down the road.

### Story
Validate incoming request against schema, proxy request, and then validate proxy response. If response if OK, then return proxy response to c

[2021-01-07 14:32] hpl002 commented on #476
Could you post the docker-compose file?

Assuming you have had a look at https://docs.docker.com/compose/networking/

[2021-01-08 10:02] magic-mohit commented on #256
@valecarlos did you find any solution ?

[2021-01-08 16:46] monkpow commented on #477
Interesting. Thanks for the well written report. Let me look into this for a bit and I'll update you.

[2021-01-12 15:56] monkpow commented on #256
@magic-mohit @valecarlos Unless I'm misunderstanding you, `proxyReqPathResolver` allows you to operate on the query params before the request is sent to the proxy server. It is documented here https://github.com/villadora/express-http-proxy#proxyreqpathresolver-supports-promises, and I've added a new test to demonstrate more explicitly (#256).

Let me know if you have any questions. I'm going to c

[2021-02-03 11:29] simondutertre opened #479 "memoizeHost option not working"
Hi,

There seems to be an issue with **container.options.memoizedHost** in resolveProxyHost.js line 8, not being set anywhere.

See the following, that should not call getHost on every request right ?

[code]

@monkpow
Can you confirm this ?

Thank you